/* Font NunitoSans */

@import url("https://fonts.googleapis.com/css?family=Nunito+Sans");
button {
  cursor: pointer;
}

button:focus {
  outline: 1px dotted !important;
}

/* table nilai */

.table-nilai {
  overflow-x: scroll;
  overflow-y: scroll;
}

/* box content */

.content {
  background: #f7f7f7;
  width: 90%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* dropdown */

.select__indicator-separator {
  display: none;
}

.select__control {
  height: 35px;
  border-radius: 3px !important;
  border-color: #cccccc !important;
}

.select__dropdown-indicator svg {
  color: #1a9d7f;
  width: 12px;
}

.select__placeholder {
  color: #7f92a1 !important;
}

.select__control {
  height: 35px;
  border-radius: 3px !important;
  border-color: #cccccc !important;
}

.select__dropdown-indicator svg {
  color: #1a9d7f;
  width: 12px;
}

.select__placeholder {
  color: #7f92a1 !important;
}

.select__input input {
  height: unset;
}

option {
  margin: auto;
  font-family: "Nunito Sans", sans-serif;
}

/* button */

.btn-green {
  border-radius: 20px;
  width: 100%;
  color: white;
  background: #1a9d7f;
  font-family: "Nunito Sans", sans-serif;
  cursor: pointer;
}

.btn-green:hover {
  filter: brightness(90%);
}

.btn-white {
  text-align: center;
  padding: 5px;
  border-radius: 20px;
  height: 30px;
  font-size: 10px;
  border: solid 0.5px #1a9d7f;
  color: #1a9d7f;
  background: white;
  font-family: "Nunito Sans", sans-serif;
  cursor: pointer;
}

.btn-white:hover {
  background: #1a9d7f;
  color: white;
}

.btn-young-green {
  background: #51d2b4;
  width: 100%;
  height: 50%;
  color: white;
  font-family: "Nunito Sans", sans-serif;
  cursor: pointer;
  border-radius: 5px;
}

.btn-young-green:hover {
  filter: brightness(90%);
}

.btn {
  padding: 10px 30px;
  margin-right: 10px;
  border: 1px solid #cccccc;
  letter-spacing: 0.3px;
  font-size: 14px;
}

.btn.default {
  color: #1a9d7f;
}

.btn.default:hover {
  border: 1px solid #1a9d7f;
}

.btn.green {
  color: #FFF;
  background-color: #1a9d7f;
  padding: 10px 40px;
}

/* container */

body {
  background: #f7f7f7;
}

/* table */

thead {
  background: #E8F7F7;
  color: #000000;
}

.student-name {
  font-weight: bold;
  color: #3d74b4;
  cursor: pointer;
}

/* clear */

.clear {
  clear: both;
}

/* scroll bar always show */

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 3px;
  height: 3px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  /* background-color: rgba(0, 0, 0, 0.5); */
  background-color: #1a9d7f;
}

/* background and font color */

.bg-green {
  background: #199d7f;
}

.bg-white {
  background: white;
}

.font-white {
  font-family: "Nunito Sans", sans-serif;
  color: white !important;
}

.font-grey {
  font-family: "Nunito Sans", sans-serif;
  color: #9da2a6;
}

/* Important Reset */

/* Margin Top Reset */

.margin-top-0 {
  margin-top: 0px !important;
}

.margin-top-1 {
  margin-top: 5px !important;
}

.margin-top-2 {
  margin-top: 10px !important;
}

.margin-top-3 {
  margin-top: 15px !important;
}

.margin-top-4 {
  margin-top: 20px !important;
}

.margin-top-5 {
  margin-top: 25px !important;
}

.margin-top-6 {
  margin-top: 30px !important;
}

.margin-top-7 {
  margin-top: 35px !important;
}

.margin-top-8 {
  margin-top: 40px !important;
}

.margin-top-9 {
  margin-top: 45px !important;
}

.margin-top-10 {
  margin-top: 50px !important;
}

/* Margin Right Reset */

.margin-right-0 {
  margin-right: 0px !important;
}

.margin-right-1 {
  margin-right: 5px !important;
}

.margin-right-2 {
  margin-right: 10px !important;
}

.margin-right-3 {
  margin-right: 15px !important;
}

.margin-right-4 {
  margin-right: 20px !important;
}

.margin-right-5 {
  margin-right: 25px !important;
}

.margin-right-6 {
  margin-right: 30px !important;
}

/* Margin Bottom Reset */

.margin-bottom-0 {
  margin-bottom: 0px !important;
}

.margin-bottom-1 {
  margin-bottom: 5px !important;
}

.margin-bottom-2 {
  margin-bottom: 10px !important;
}

.margin-bottom-3 {
  margin-bottom: 15px !important;
}

.margin-bottom-4 {
  margin-bottom: 20px !important;
}

.margin-bottom-5 {
  margin-bottom: 25px !important;
}

.margin-bottom-6 {
  margin-bottom: 30px !important;
}

/* Margin Left Reset */

.margin-left-0 {
  margin-left: 0px !important;
}

.margin-left-1 {
  margin-left: 5px !important;
}

.margin-left-2 {
  margin-left: 10px !important;
}

.margin-left-3 {
  margin-left: 15px !important;
}

.margin-left-4 {
  margin-left: 20px !important;
}

.margin-left-5 {
  margin-left: 25px !important;
}

.margin-left-6 {
  margin-left: 30px !important;
}

/* Margin Side Reset */

.margin-side-0 {
  margin-right: 0px !important;
  margin-left: 0px !important;
}

.margin-side-1 {
  margin-right: 5px !important;
  margin-left: 5px !important;
}

.margin-side-2 {
  margin-right: 10px !important;
  margin-left: 10px !important;
}

.margin-side-3 {
  margin-right: 15px !important;
  margin-left: 15px !important;
}

.margin-side-4 {
  margin-right: 20px !important;
  margin-left: 20px !important;
}

.margin-side-5 {
  margin-right: 25px !important;
  margin-left: 25px !important;
}

.margin-side-6 {
  margin-right: 30px !important;
  margin-left: 30px !important;
}

.margin-side-7 {
  margin-right: 35px !important;
  margin-left: 35px !important;
}

.margin-side-8 {
  margin-right: 40px !important;
  margin-left: 40px !important;
}

.margin-side-9 {
  margin-right: 45px !important;
  margin-left: 45px !important;
}

.margin-side-10 {
  margin-right: 50px !important;
  margin-left: 50px !important;
}

/* Margin Vert Reset */

.margin-vert-0 {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.margin-vert-1 {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

.margin-vert-2 {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.margin-vert-3 {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}

.margin-vert-4 {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

.margin-vert-5 {
  margin-top: 25px !important;
  margin-bottom: 25px !important;
}

.margin-vert-6 {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}

/* Margin All Reset */

.margin-0 {
  margin-top: 0px !important;
  margin-right: 0px !important;
  margin-bottom: 0px !important;
  margin-left: 0px !important;
}

.margin-1 {
  margin-top: 5px !important;
  margin-right: 5px !important;
  margin-bottom: 5px !important;
  margin-left: 5px !important;
}

.margin-2 {
  margin-top: 10px !important;
  margin-right: 10px !important;
  margin-bottom: 10px !important;
  margin-left: 10px !important;
}

.margin-3 {
  margin-top: 15px !important;
  margin-right: 15px !important;
  margin-bottom: 15px !important;
  margin-left: 15px !important;
}

.margin-4 {
  margin-top: 20px !important;
  margin-right: 20px !important;
  margin-bottom: 20px !important;
  margin-left: 20px !important;
}

.margin-5 {
  margin-top: 25px !important;
  margin-right: 25px !important;
  margin-bottom: 25px !important;
  margin-left: 25px !important;
}

.margin-6 {
  margin-top: 30px !important;
  margin-right: 30px !important;
  margin-bottom: 30px !important;
  margin-left: 30px !important;
}

.margin-7 {
  margin-top: 35px !important;
  margin-right: 35px !important;
  margin-bottom: 35px !important;
  margin-left: 35px !important;
}

.margin-8 {
  margin-top: 40px !important;
  margin-right: 40px !important;
  margin-bottom: 40px !important;
  margin-left: 40px !important;
}

.margin-9 {
  margin-top: 45px !important;
  margin-right: 45px !important;
  margin-bottom: 45px !important;
  margin-left: 45px !important;
}

.margin-10 {
  margin-top: 50px !important;
  margin-right: 50px !important;
  margin-bottom: 50px !important;
  margin-left: 50px !important;
}

/* Padding Top Reset */

.padding-top-0 {
  padding-top: 0px !important;
}

.padding-top-1 {
  padding-top: 5px !important;
}

.padding-top-2 {
  padding-top: 10px !important;
}

.padding-top-3 {
  padding-top: 15px !important;
}

.padding-top-4 {
  padding-top: 20px !important;
}

.padding-top-5 {
  padding-top: 25px !important;
}

.padding-top-6 {
  padding-top: 30px !important;
}

/* Padding Right Reset */

.padding-right-0 {
  padding-right: 0px !important;
}

.padding-right-1 {
  padding-right: 5px !important;
}

.padding-right-2 {
  padding-right: 10px !important;
}

.padding-right-3 {
  padding-right: 15px !important;
}

.padding-right-4 {
  padding-right: 20px !important;
}

.padding-right-5 {
  padding-right: 25px !important;
}

.padding-right-6 {
  padding-right: 30px !important;
}

/* Padding Bottom Reset */

.padding-bottom-0 {
  padding-bottom: 0px !important;
}

.padding-bottom-1 {
  padding-bottom: 5px !important;
}

.padding-bottom-2 {
  padding-bottom: 10px !important;
}

.padding-bottom-3 {
  padding-bottom: 15px !important;
}

.padding-bottom-4 {
  padding-bottom: 20px !important;
}

.padding-bottom-5 {
  padding-bottom: 25px !important;
}

.padding-bottom-6 {
  padding-bottom: 30px !important;
}

/* Padding Left Reset */

.padding-left-0 {
  padding-left: 0px !important;
}

.padding-left-1 {
  padding-left: 5px !important;
}

.padding-left-2 {
  padding-left: 10px !important;
}

.padding-left-3 {
  padding-left: 15px !important;
}

.padding-left-4 {
  padding-left: 20px !important;
}

.padding-left-5 {
  padding-left: 25px !important;
}

.padding-left-6 {
  padding-left: 30px !important;
}

/* padding Side Reset */

.padding-side-0 {
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.padding-side-1 {
  padding-right: 5px !important;
  padding-left: 5px !important;
}

.padding-side-2 {
  padding-right: 10px !important;
  padding-left: 10px !important;
}

.padding-side-3 {
  padding-right: 15px !important;
  padding-left: 15px !important;
}

.padding-side-4 {
  padding-right: 20px !important;
  padding-left: 20px !important;
}

.padding-side-5 {
  padding-right: 25px !important;
  padding-left: 25px !important;
}

.padding-side-6 {
  padding-right: 30px !important;
  padding-left: 30px !important;
}

/* Padding Vert Reset */

.padding-vert-0 {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.padding-vert-1 {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.padding-vert-2 {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.padding-vert-3 {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}

.padding-vert-4 {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

.padding-vert-5 {
  padding-top: 25px !important;
  padding-bottom: 25px !important;
}

.padding-vert-6 {
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}

/* Padding All Reset */

.padding-0 {
  padding-top: 0px !important;
  padding-right: 0px !important;
  padding-bottom: 0px !important;
  padding-left: 0px !important;
}

.padding-1 {
  padding-top: 5px !important;
  padding-right: 5px !important;
  padding-bottom: 5px !important;
  padding-left: 5px !important;
}

.padding-2 {
  padding-top: 10px !important;
  padding-right: 10px !important;
  padding-bottom: 10px !important;
  padding-left: 10px !important;
}

.padding-3 {
  padding-top: 15px !important;
  padding-right: 15px !important;
  padding-bottom: 15px !important;
  padding-left: 15px !important;
}

.padding-4 {
  padding-top: 20px !important;
  padding-right: 20px !important;
  padding-bottom: 20px !important;
  padding-left: 20px !important;
}

.padding-5 {
  padding-top: 25px !important;
  padding-right: 25px !important;
  padding-bottom: 25px !important;
  padding-left: 25px !important;
}

.padding-6 {
  padding-top: 30px !important;
  padding-right: 30px !important;
  padding-bottom: 30px !important;
  padding-left: 30px !important;
}

.padding-7 {
  padding-top: 35px !important;
  padding-right: 35px !important;
  padding-bottom: 35px !important;
  padding-left: 35px !important;
}

.padding-8 {
  padding-top: 40px !important;
  padding-right: 40px !important;
  padding-bottom: 40px !important;
  padding-left: 40px !important;
}

.padding-9 {
  padding-top: 45px !important;
  padding-right: 45px !important;
  padding-bottom: 45px !important;
  padding-left: 45px !important;
}

.padding-10 {
  padding-top: 50px !important;
  padding-right: 50px !important;
  padding-bottom: 50px !important;
  padding-left: 50px !important;
}

/* Color */

/* Green */

.cgreen {
  color: #05a558;
}

.cgreen:hover, .cgreen:focus {
  color: #035b30;
}

/* Red */

.cred {
  color: #eb373e;
}

.cred:hover, .cred:focus {
  color: #c2131a;
}

/* Blue */

.cblue {
  color: #006eff;
}

.cblue:hover, .cblue:focus {
  color: #004db3;
}

/* Yellow */

.cyellow {
  color: #f0b20a;
}

.cyellow:hover, .cyellow:focus {
  color: #a77c07;
}

/* Gray 2 */

.cgray2 {
  color: #9d9db4;
}

/* Gray 3 */

.cgray3 {
  color: #dfdfe8;
}

/* Black 2 */

.cblack2, .cblack2:hover, .cblack2:focus {
  color: #24242f;
}

/* White */

.cwhite {
  color: white;
}
.cwhite:hover, .cwhite:focus{
  color: #f7f7f7;
}

/* Background Color */

.bcblack2 {
  background-color: #24242f;
}

.bcgray1 {
  background-color: #505069;
}

.bcgray2 {
  background-color: #9d9db4;
}

.bcgray-blur {
  background-color: #eaeaea;
}

.bcgray4 {
  background-color: #e9e9ef;
}

.bcgreen {
  background-color: #05a558;
}

.bcred {
  background-color: #eb373e;
}

.bcblue {
  background-color: #006eff;
}

.bcyellow {
  background-color: #f0b20a;
}

.bcmain {
  background-color: #05a558;
}

.bcwhite {
  background-color: #ffffff;
}

.bcorange {
  background-color: #FFA500;
}

/* Background Color Lighten */

.bclblack2 {
  background-color: #666686;
}

.bclgray1 {
  background-color: #9d9db5;
}

.bclgreen {
  background-color: #4afaa5;
}

.bclred {
  background-color: #f9c2c4;
}

.bclblue {
  background-color: #99c5ff;
}

.bclyellow {
  background-color: #fbe098;
}

.bclmain {
  background-color: #4afaa5;
}

.bcwhite {
  background-color: #FFFFFF;
}

/* Flex Grow */

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}

.flex-4 {
  flex: 4;
}

.flex-5 {
  flex: 5;
}

.flex-6 {
  flex: 6;
}

.flex-7 {
  flex: 7;
}

.flex-8 {
  flex: 8;
}

.flex-9 {
  flex: 9;
}

.flex-10 {
  flex: 10;
}

.flex-11 {
  flex: 11;
}

.flex-12 {
  flex: 12;
}

/* Float */

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.float-none {
  float: none;
}

/* Textual */

/* Text Uppercase = Tulisannya besar semua */

.italic {
  font-style: italic;
}

.uppercase {
  text-transform: uppercase;
}

/* Text Center = Tulisannya di tengah */

.align-center {
  text-align: center !important;
}
.valign-center {
  vertical-align: middle !important;
}

/* Text Right = Tulisannya di right */

.align-right {
  text-align: right !important;
}

/* Text Decoration */

.underline, .underline:hover {
  text-decoration: underline;
}

/* Text Bold = Tulisannya bold semua */

strong, .bold {
  font-weight: 700;
}

.normal-font {
  font-weight: 400;
}

/* Small Font */

.small-text {
  font-size: 12px !important;
}

.small-text-filter {
  font-size: 10px;
  color: #6d6d6d;
}

.normal-text {
  font-size: 14px;
}

.normal-text-green {
  color: #45c4a6;
}

/* Large Font */

.large-text {
  font-size: 16px;
}

/* Display */

/* Block */

.disblock {
  display: block;
}

/* Inline Block */

.disinblock {
  display: inline-block;
}

.disflex {
  display: flex;
}

.fullwidth {
  width: 100% !important;
}

.fullheight {
  height: 100% !important;
}

/* Border */

.border-none {
  border: none !important;
}

.border-top {
  border-top: 1px solid #f7f7f7 !important;
}

.border-full {
  border: 1px solid #f7f7f7 !important;
}

.box-shadow {
  box-shadow: 0 5px 10px 0 rgba(118, 118, 118, 0.2);
}

/* bullet */

.bullet {
  padding: 0px 3px 1px 9px;
  border-radius: 50%;
  font-size: 8px;
}

/* header */

.header-bar #dropdown-profile {
  background-color: #1aa78a;
  border: none;
}

.header-bar .profile {
  color: #474f58;
  margin-bottom: 10px;
  font-size: 11px;
  object-fit: contain;
  letter-spacing: 0.3px;
}

.header-bar .dropdown-menu {
  border: none;
}

.header-bar .dropdown-menu>li>a {
  text-decoration: none;
}

.header-bar .dropdown-menu>li>a:hover, .header-bar .dropdown-menu>li>a>span:hover {
  color: #1aa78a;
}

.header-bar ul.dropdown-menu li.active a, .header-bar ul.dropdown-menu li.active span {
  color: #1aa78a;
}

/* List Style */

.no-list-style {
  list-style: none !important;
}

/* content-block */

.content-block {
  position: relative;
  padding: 2rem;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border: 1px solid #e9e9ef;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0 0 20px rgba(36, 36, 47, 0.1);
  -webkit-box-shadow: 0 0 20px rgba(36, 36, 47, 0.1);
  box-shadow: 0 0 20px rgba(36, 36, 47, 0.1);
}

.content-block.main-block {
  border: none;
  box-shadow: -5px 5px 10px 0 rgba(30, 30, 30, 0.05);
  border-radius: 5px;
  padding: 0;
}

.content-block.main-block, .content-block.main-block .left-block, .content-block.main-block .right-block {
  min-height: 590px;
}

.content-block.main-block .left-block {
  border-right: 1px solid #f7f7f7;
}

.content-block.main-block .empty-data, .content .empty-data {
  height: 440px;
  border: 1px solid #cccccc;
  border-radius: 2px;
  line-height: 440px;
  text-align: center;
  font-weight: bold;
  color: #6d6d6d;
  font-size: 12px;
}

label.header-title {
  letter-spacing: 0.3px;
  color: #505050;
  font-family: "NunitoBold";
  font-size: 14px;
}

label.header-title.form {
  color: #1a9d7f;
  padding-bottom: 10px;
}

.content-input {
  counter-increment: number;
}

.content-input:not(:last-child) {
  margin-bottom: 20px;
}

.content-input .content-label {
  display: block;
  margin-bottom: 5px;
  color: #6d6d6d;
  font-size: 10px;
}

.content-input .counter:after {
  content: counter(number);
}

.submit-btn {
  width: 180px;
  border-radius: 25px;
  background-color: #1a9d7f;
  color: #FFF;
}

.submit-btn.default {
  background-color: #FFFF;
  border: 1px solid #1a9d7f;
  color: #1a9d7f;
  padding: 10px 30px;
}

.filter-btn {
  width: 100%;
  border-radius: 25px;
  background-color: #1a9d7f;
  color: #FFF;
}

/* select react */

.select-list {
  height: 40px;
}

.select-list .select__control {
  min-height: auto;
  height: 40px;
  border: 1px solid #cccccc;
}

.select-list .select__indicator-separator {
  background-color: #FFF;
}

/*  */

/* reactstrap  */

ul.nav.toggle>li.nav-item {
  border-top: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  width: 140px;
}

ul.nav.toggle>li.nav-item:first-child {
  border-left: 1px solid #cccccc;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

ul.nav.toggle>li.nav-item:last-child {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

ul.toggle>li.nav-item a {
  background-color: #f2f2f2;
  padding: 8px;
  color: #999999 !important;
  letter-spacing: 0.5px;
  cursor: pointer;
}

ul.toggle>li.nav-item a.active {
  color: #000000 !important;
}

/*  */

/* table responsive */

.table-responsive {
  /* min-height: 450px;
  overflow-x: auto;
  margin-top: 20px; */
}

.table-content {
  height: 400px;
  overflow-y: scroll;
}

.table.assessment {
  width: 100%;
  max-width: 100%;
  border-collapse: separate;
  border-spacing: 0 1em;
}

table.table.assessment tr {
  box-shadow: 0 2px 8px 0 rgba(30, 30, 30, 0.05);
}

table.table.assessment tr.main-head {
  background-color: #f3fcff;
  text-transform: uppercase;
  color: #7f92a1;
}

table.table.assessment th, table.table.assessment td {
  border: none;
  padding: 10px;
}

table.table.assessment td {
  vertical-align: middle;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.11;
  letter-spacing: normal;
  color: #333333;
}

table.table.assessment .btn {
  padding: 3px 25px;
}

table.work-step thead > tr > td{
  padding: 15px;
  border: none;
}
table.work-step thead > tr > td label,
table.work-step tbody > tr > td label.header-title
{
  font-size: 10px;
  text-transform: uppercase;
}

tbody tr:nth-child(odd) {
  background-color: #f9f9f9;
}

tbody tr:nth-child(even) {
  background-color: #fdfdfd;
}

.padding-content {
  padding-top: 120px;
}

/* show hide */

.hide {
  display: none;
}

.show {
  display: block;
}

/* error message */

.error-message {
  color: #f65151;
}

.padding-content {
  padding-top: 120px;
}

/* switch account */

.switch {
  background-color: #FFF;
  height: 100%;
}

.switch .header {
  opacity: 1;
  background-image: linear-gradient(to bottom, #51d2b4, #229c80);
  height: 50px;
}

.switch .logo {
  width: 20px;
}

.switch .body-gredu {
  margin-top: 100px;
}

.switch .title {
  font-style: normal;
  font-stretch: normal;
  line-height: 1.53;
  letter-spacing: normal;
  text-align: center;
  color: #4a4a4a;
  font-size: 16px;
  font-weight: 600;
}

.switch .trigger-account {
  position: absolute;
  left: 340px;
  top: 10px;
}

.switch .account-list {
  border: 1px solid #dcdcdc;
  width: 30%;
  border-radius: 5px;
}

.switch .item {
  border-bottom: 1px solid #dcdcdc;
  padding-bottom: 20px;
}

.switch .item.last {
  border-bottom: none;
  padding-bottom: 0;
}

.switch .name-school {
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
  font-size: 14px;
}

.switch a {
  position: relative;
}

.switch a:hover, .switch .name-school:hover {
  color: #45c4a6;
  text-decoration: none;
}

.switch .address {
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #a7a7a7;
}

.switch .f-icon {
  font-size: 15px;
  color: #45c4a6;
}

.switch img.logo-account {
  width: 80%;
  text-align: center;
  display: block;
}

/* alert */

.react-confirm-alert-overlay {
  background: rgba(70, 66, 66, 0.9);
  z-index: 99999;
}

.react-confirm-alert-body {
  padding: 0;
}
.modal-alert .header{
  padding: 10px;
  opacity: 0.6;
  background-color: rgba(235, 244, 254, 0.5);
}
.modal-alert .header > h1{
  font-family: 'NunitoBold';
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  text-align: center;
  letter-spacing: 0.3px;
  color: #4a4a4a;
  font-size: 14px;
}
.react-confirm-alert-body{
  width: 350px;
}
.modal-alert .toggle{
  padding: 0px 20px 20px 20px;
  text-align: center;
}
.modal-alert .toggle span.description{
  font-size: 12px;
  font-weight: 600;
  color: #4a4a4a;
}
/* bootstrap */

.open>.dropdown-menu {
  display: block;
}

.dropdown-menu {
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  background-clip: padding-box;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  display: none;
  float: left;
  font-size: 14px;
  left: 0;
  list-style: none;
  margin: 2px 0 0;
  min-width: 160px;
  padding: 5px 0;
  position: absolute;
  text-align: left;
  top: 100%;
  z-index: 1000;
}

.dropdown-menu>li>a {
  clear: both;
  color: #333;
  display: block;
  font-weight: 400;
  line-height: 1.42857143;
  padding: 3px 20px;
  white-space: nowrap;
}

.col-sm-2-custom {
  flex: 0 0 20.8% !important;
  max-width: 20.8% !important;
}

.col-sm-10-custom {
  flex: 0 0 79.2% !important;
  max-width: 79.2% !important;
}

ul.toggle.tab-class>li.nav-item a {
  background-color: #FFF;
  color: #1a9d7f !important;
}

ul.toggle>li.nav-item a.active {
  background-color: #1a9d7f;
  color: #FFF !important;
}

/* Radio & Checkbox Button */

.radio-wrapper, .checkbox-wrapper {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 10px;
}

.radio-button, .radio-label, .checkbox-button, .checkbox-label {
  display: inline-block;
  vertical-align: middle;
}

.radio-button, .checkbox-button {
  position: absolute;
  width: 16px;
  margin-right: 5px;
}

.radio-button input[type="radio"], .radio-button input[type="checkbox"], .checkbox-button input[type="radio"], .checkbox-button input[type="checkbox"] {
  display: none;
}

.radio-button label, .checkbox-button label {
  display: block;
  width: 16px;
  height: 16px;
  border: 2px solid #505069;
  vertical-align: middle;
  cursor: pointer;
}

.radio-button label:after, .checkbox-button label:after {
  content: "";
  display: block;
}

.radio-button label {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.radio-button label:after {
  width: 6px;
  height: 6px;
  margin: 3px auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.radio-button input:unchecked+label:after {
  background-color: transparent;
}

.radio-button input:checked+label {
  border-color: #05a558;
}

.radio-button input:checked+label:after {
  background-color: #05a558;
}

.checkbox-button label {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

.checkbox-button input:unchecked+label {
  border: 2px solid #505069;
  background-color: transparent;
  -moz-transition: 0.1s;
  -o-transition: 0.1s;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.checkbox-button input:checked+label {
  border: 2px solid #05a558;
  background-color: #05a558;
  -moz-transition: 0.1s;
  -o-transition: 0.1s;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.checkbox-button input:checked+label:after {
  margin-top: 0px;
  margin-left: 0px;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  content: "\f00c";
  color: #ffffff;
}

.checkbox-button.unchecked input:checked+label {
  border-color: #505069;
  background-color: transparent;
}

.checkbox-button.unchecked input:checked+label:after {
  color: #505069;
  content: "\f00c";
}

.radio-label, .checkbox-label {
  cursor: pointer;
  padding-left: 25px;
  margin-top: -6px;
  vertical-align: bottom;
}