$nunito_semi_bold: 'NunitoSemiBold';

.menu-bar {
  font-size: 13px;

  .font-grey {
    font-family: $nunito_semi_bold;
  }

  .topnav {
    overflow: hidden;
    background-color: #ffffff;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    font-family: $nunito_semi_bold;
    padding: 14px 16px;
    text-decoration: none;
    font-family: $nunito_semi_bold;
    font-size: 14px;
    border-bottom: 3px solid transparent;
  }
  
  .topnav a:hover {
    border-bottom: 3px solid #1a9d7f;
  }
  
  .topnav a.active-menu {
    border-bottom: 3px solid #1a9d7f;
    font-family: $nunito_semi_bold;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #1a9d7f;
  }
  
  .menu {
    padding: 34px;
  }
  
  
  
}
