$nunito_light: 'NunitoLight';
$nunito_regular: 'NunitoRegular';
$nunito_semi_bold: 'NunitoSemiBold';
$nunito_bold: 'NunitoBold';

.detail {
  background-color: #f7f7f7;
  min-height: 100%;
  
  a {
    color: #009D81;    
  }

  a:hover {
    text-decoration: none;
  }

  .absences-detail__table.table {
    thead { 
      background-color: #e8f7f7;

      th {
        text-align: left;
        border-color: #cccccc;
      }
    }
  }

  .col-2 {
    flex: 0 0 20%;
    max-width: 20%;
  }

  .col-10 {
    flex: 80%;
    max-width: 80%;
  }

  .offset-2 {
    margin-left: 20%;
  }

  table {
    margin-bottom: 0px;
  }

  .content {
    height: 100%;
  }

  .content-wrapper {
    position: relative;
    top: 140px;
    margin: 0px 40px 0px;
  }

  .is-empty {
    height: 100%;
    padding-top: 20px;
  }

  .attendance-detail {
    &__filter {
      width: 200px;
    }

    &__container-date {
      float: right; 
      display: flex;
      position: absolute;
      right: 30px;

      .attendance-detail__filter {
        position: relative;
        width: 160px;
      }
    }
  }

  .menu-bar .bg-white {
    background: transparent !important;
  }

  .tab-pane {
    height: 100%;
  }

  .main-block {
    height: 485px;
  }

  .tab-content {
    height: 100%;

    .row {
      height: 100%;

      .left-content {
        height: 100%;
      }
    }
  }
}

.detail-menu {
  background-color: #f7f7f7;
  font-size: 14px;
  margin: 0px;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  li {
    float: left;
    height: 45px;
    width: 135px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px 3px 0px 0px;
  }

  .nav-item.active a{
    color: #4a4a4a;
  }

  .nav-link {
    padding: 0px;
    font-family: $nunito_bold;
  }

  .tab-menu {
    padding-left: 0px;
  }
}

.rounded-10 {
  border-radius: 10px;
}

.back {
  width: 90%;
  // margin: 0px auto;
  padding: 12px 0px;
  display: flex;
  margin-left: 120px;

}

.back a {
  font-size: 14px;
  margin-left: 100px;
  margin-top: 3px;
  font-family: $nunito_bold;
  position: relative;
}

.content .tab-content {
  margin-top: 0px;   
}

.nav-tabs {
  border-bottom: none;
}

.nav-item.active {
  background-color: #ffffff;
}

.left-content, .right-content {
  background-color: transparent;
  // height: 483px;
  // .tab-content {
  //   margin-top: 0px;
  // }
}

.absences-detail {
  &__title {
    font-family: $nunito_bold;
    color: #2d2d2d;
    font-size: 13px;
    text-align: left;
    margin-top: 30px;
  }

  &__total-wrapper {
    display: flex;
    width: 100%;
    border-bottom: 1px solid #eeeeee;
    padding: 18px 0px 8px;
    align-items: center;
  }

  &__total-wrapper:last-child {
    border: none;
  }

  &__label {
    color: #6d6d6d;
    font-family: $nunito_regular;
    width: 50%;
    text-align: left;
  }

  &__filter-label {
    font-size: 10px;
    text-align: left;
    margin-bottom: 5px;
    font-family: $nunito_semi_bold;
    font-size: #6d6d6d;
    display: block;
  }

  &__amount {
    text-align: right;
    color: #1a9d7f;
    font-size: 18px;
    font-family: $nunito_bold;
    width: 50%;
  }

  &__input {
    width: 100%;
    height: 35px;
    border-radius: 3px;
    border-color: #cccccc;
  }

  &__form-group {
    margin-bottom: 20px;
    display: block;

    .calendar-icon {
      position: absolute;
      bottom: 12px;
    }
  }

  &__angle-down{
    position: relative;
    right: 17px;
    top: 1px;
    color: #1a9d7f;
  }

  &__angle-down-date {
    position: relative;
    bottom: 23px;
    float: right;
    right: 10px;
    color: #1a9d7f;
  }
  
  &__select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    color: #7f92a1;
    font-size: 11px;
    font-family: $nunito_semi_bold;
    margin-right: 0px;

    &.form-control:not([size]):not([multiple]) {
      width: 204.5px;
      height: 35px;
    }
  }

  &__table {
    // margin-top: 20px;

    &.table tbody td {
      text-align: left;
      border-color: #cccccc;
    }

    tr:last-child{
      border-bottom: 1px solid #cccccc;
    }
  }

  .react-datepicker__input-container {
    display: block;

    .absences-detail__input {
      height: 40px;
      width: 160px;
    }
  }

  .react-datepicker-wrapper {
    display: block;
  }

  .form-group {
    display: block;
  }

  .form-inline label{
    display: block;
    margin-bottom: 5px;
  }

  &__form-date {
    margin-bottom: 20px;
  }
}

.homeroom-teacher {
  
  &__form {
    height: 300px;
    overflow-y: auto;
    margin-top: 30px;
  }

  &__input {
    margin-top: 30px;
    color: #52595e;
    font-family: $nunito_bold;
    padding: 15px 25px;
    height: 37px;
  }

  .form-control:focus {
    color: #52595e;
  }

  &__save {
    position: absolute;
    float: right;
    background-color: #199d7f;
    border-color: #199d7f;
    border-radius: 25px;
    padding-left: 3.25rem;
    padding-right: 3.25rem;
    margin-top: 100px;
    bottom: 40px;
    right: 30px;
  }

  &__save:hover {
    background-color: #199d7f;
    border-color: #199d7f;
    filter: brightness(90%);
  }

  &__save:disabled:hover {
    background-color: #6c757d;
    border-color: #6c757d;
    filter: unset;
  }

  ::placeholder {
    color: #b3b3b3;
  }
    
  :-ms-input-placeholder {
    color: #b3b3b3;
  }
  
  &__select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    color: #333333;
    font-size: 12px;
    font-family: $nunito_bold;
    margin-right: 0px;
    border-color: #dcdcdc;
    padding-left: 25px;
    padding-right: 25px;
    // margin-top: 30px;

  &__select:not(:first-child) {
    // margin-top: 20px
  }

    &.form-control:not([size]):not([multiple])  {
      height: 37px;;
    }
  }

  &__form-group:not(:first-child) &__select {
    margin-top: 20px;
  }

  &__angle-down {
    position: relative;
    font-size: 22px;
    color: #999999;
    width: 44.5px;
    height: 37px;
    background-color: rgba(234, 249, 242, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    bottom: 37px;
    margin-bottom: -20px;
  }

  &__add-extracurricular {
    color: #1a9d7f;
    font-family: $nunito_bold;
    margin-top: 20px;
    cursor: pointer;

    span {
        font-family: $nunito_semi_bold;
    }
  }

  .select__control--is-disabled {
    background-color: #e9ecef;
  }

  input:disabled, textarea:disabled {
    color: #b3b3b3;
  }
}
