$nunito_light: 'NunitoLight';
$nunito_regular: 'NunitoRegular';
$nunito_semi_bold: 'NunitoSemiBold';
$nunito_bold: 'NunitoBold';

.detail {
    background-color: #f7f7f7;
}

.detail a {
    color: #009D81;    
}

.detail a:hover {
    text-decoration: none;
}

.rounded-10 {
    border-radius: 10px;
}

.back {
    width: 90%;
    margin: 0px auto;
    padding: 12px 0px;
}

.back a {
    margin-left: -15px;
}

.detail-menu {
    background-color: #f7f7f7;
    font-size: 14px;
}

.detail-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.detail-menu li {
    float: left;
    height: 45px;
    width: 135px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px 3px 0px 0px;
}

.detail-menu .nav-item.active a{
    color: #4a4a4a;
}

.detail-menu .nav-link {
    padding: 0px;
    font-family: $nunito_bold;
}

.detail-menu .nav-tabs {
    border-bottom: none;
}

.nav-item.active {
    background-color: #ffffff;
}

.left-content, .right-content {
    background-color: transparent;
}

.export, .print {
    color: #3d74b4;
}

.export img, .print img {
    width: 14px;
    margin-right: 5px;
}

.print {
    margin-right: 30px;
}
