.detail {
    background-color: #f7f7f7;
    font-weight: bold;
}

.detail a {
    color: #1a9d7f;
}

.detail a:hover {
    text-decoration: none;
}

.rounded-10 {
    border-radius: 10px;
}

.back {
    width: 90%;
    margin: 0px auto;
    padding: 12px 0px;
}

.back a {
    margin-left: -15px;
}

.back span {
    margin-left: 5px;
}

.detail-menu {
    background-color: #f7f7f7;
}

.detail-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.detail-menu li {
    float: left;
    height: 45px;
    width: 115px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px 3px 0px 0px;
}

.detail-menu .nav-item.active a{
    color: #4a4a4a;
}

.detail-menu .nav-link {
    padding: 0px;
}

.detail-menu .nav-tabs {
    border-bottom: none;
}

.nav-item.active {
    background-color: #ffffff;
}

.left-content, .right-content {
    background-color: transparent;
}

.avatar-wrapper {
    width: 56px;
    height: 56px;
    border: 1px solid #1a9d7f;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 30px auto 0px;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.ranking {
    color: #1a9d7f;
    padding-bottom: 30px;
    border-bottom: 1px solid #b2d8d8;
}

.profile {
    margin-top: 30px;
}

.field {
    margin-bottom: 15px;
    color: #333333;
}

.label {
    color: #9da2a6;
}

.tab-score {
    width: 100px;
    border: solid 1px #cccccc;
    background-color: #f2f2f2;
    color: #999999;
    font-weight: normal;
    cursor: pointer;
}

.nav-tabs .tab-score .nav-link {
    border: none;
}

.nav-tabs .tab-score:nth-child(2) {
    border-left: none;
    border-right: none;
}

.tab-score .active {
    color: #333333;
    font-weight: bold;
}

.export, .print {
    color: #3d74b4;
}

.export img, .print img {
    width: 14px;
    margin-right: 5px;
}

.print {
    margin-right: 30px;
}

.tab-content {
    margin-top: 20px;
}

.detail thead {
    background-color: #ecf2f8;
}

.detail .table-striped tbody tr:nth-of-type(odd) {
    background-color: #F9F9F9;
}
.detail .table thead th {
    padding: 3px 10px;
    vertical-align: middle;
    border-color: #b0d8d8;
    border-bottom: none;
}

.detail .table td {
    vertical-align: middle;
    border-color: #b0d8d8;
    border-top: none;
    border-bottom: none;
    padding: 10px;
}

.detail td:first-child, .detail td:nth-child(2) {
    text-align: left;
}

.total-score, .average-score {
    background-color: #f5faf2 !important;
    border: 1px solid #b0d8d8;
}