@import url("../../styles/global/component.css");
.row {
  /* background: white; */
}
.murid {
  background: #f7f7f7;
  margin-bottom: 20px;
  font-family: 'Nunito Sans', sans-serif;
}
.content {
  margin-bottom: 10px;
}
.right-content {
  padding-top: 20px;
  padding-bottom: 20px;
  background: white;
  overflow-y: hidden;
  height: 530px;
}
.right-content h5,h6{
  text-align: center;
}
.fa-sort {
  float: right;
  color: #1a9d7f;
}
