
.detail thead {
    background-color: #ecf2f8;
    color: #000000;
    font-weight: lighter;
}

.detail .table-striped tbody tr:nth-of-type(odd) {
    background-color: #F9F9F9;
}
.detail .table thead th {
    padding: 8px 10px;
    vertical-align: middle;
    border-color: #b0d8d8;
    border-bottom: none;
}

.detail .table td {
    vertical-align: middle;
    border-color: #b0d8d8;
    border-top: none;
    border-bottom: none;
    padding: 12px 10px;
    color: #333333;
}

.detail td:first-child, .detail td:nth-child(2) {
    text-align: left;
}

.total-score, .average-score {
    background-color: #f5faf2 !important;
    border: 1px solid #b0d8d8;
}

.status {
    display: flex;
    text-align: left;
    align-items: center;
}

.indicator {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    margin-right: 5px;
}

.red-indicator {
    background-color: #ff6d4a;
}

.blue-indicator {
    background-color: #4da1ff;
}

.attitude tbody tr:last-child {
    border-bottom: 1px solid #b0d8d8;
}

.total-status {
    border: 1px solid #b0d8d8;
    color: #1a9d7f;
    background-color: #f5faf2;
    width: 100%;
    text-align: left;
    padding: 10px;
}

.total-status .pull-left {
    width: 24.5%;
}

.total-status span {
    font-style: italic;
}
