@import url('../../styles/global/component.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

$nunito_light: 'NunitoLight';
$nunito_regular: 'NunitoRegular';
$nunito_semi_bold: 'NunitoSemiBold';
$nunito_bold: 'NunitoBold';
$nunito_extra_bold: 'NunitoExtraBold';

.box-card-evaluasi {
  height: 220px;
  .card-evaluasi {
    height: 125%;
    overflow-y: scroll;
    border: solid 0.5px #cccccc;
    border-radius: 5px;
    padding: 10px;
    &__label-evaluasi {
      font-size: 12px;
      color: #2d2d2d;
      font-family: $nunito_bold;
      text-align: center;
    }
    &__number-evaluasi {
      font-size: 24px;
      color: #2d2d2d;
      font-family: $nunito_bold;
      text-align: center;
    }
  }
}

// .card-nilai {
//   height: 50%;

//   .card {
//     background: white;
//     padding: 10px;
//     margin: auto;
//     height: 25.6%;
//     border-radius: 10px;
//     border: 0.5px solid #cccccc;
//     display: flex;
//     align-items: center;
//     justify-content: center;

//     &__label {
//       font-size: 14px;
//       color: #2d2d2d;
//       font-family: $nunito_bold;
//     }

//     &__value {
//       color: #1a9d7f;
//       font-size: 26px;
//       margin: 20px;
//       font-family: $nunito_bold;
//     }
//     &__error {
//       color: #eb373e;
//       font-size: 26px;
//       margin: 20px;
//       font-family: $nunito_bold;
//     }
//   }

//   .card h3 {
//     color: #199d7f;
//   }
//   .card p {
//     color: #2d2d2d;
//   }
// }
@media only screen and (min-width: 800px) {
  .box-position {
    .card-nilai {
      .card {
        &__label {
          font-size: 12px;
          color: #2d2d2d;
          text-align: center;
        }
        &__value{
          color: #1a9d7f;
          font-size: 26px;
          margin: 10px;
          font-family: $nunito_bold;
        }
        &__error{
          color: #eb373e;
          font-size: 26px;
          margin: 10px;
          font-family: $nunito_bold;
        }
      }
    }
    .card h3 {
      color: #199d7f;
    }
    .card p {
      font-size: 10px;
      color: #2d2d2d;
    }
  }
}
