$nunito_light: 'NunitoLight';
$nunito_regular: 'NunitoRegular';
$nunito_semi_bold: 'NunitoSemiBold';
$nunito_bold: 'NunitoBold';

.details-nilai{
  background-color: #f7f7f7;
  min-height: 100%;
  
  a {
    color: #009D81;    
  }

  a:hover {
    text-decoration: none;
  }

  .absences-detail__table.table {
    thead { 
      background-color: #e8f7f7;

      th {
        text-align: left;
        border-color: #cccccc;
      }
    }
  }

  .col-2 {
    flex: 0 0 20%;
    max-width: 20%;
  }

  .col-10 {
    flex: 80%;
    max-width: 80%;
  }

  .offset-2 {
    margin-left: 20%;
  }

  table {
    margin-bottom: 0px;
  }

  .content {
    height: 100%;
  }

  .content-wrapper {
    position: relative;
    top: 127px;
    width: 90%;
    margin: 0px auto;
  }
}

.detail-menu {
  background-color: #f7f7f7;
  font-size: 14px;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  li {
    float: left;
    height: 45px;
    width: 135px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px 3px 0px 0px;
  }

  .nav-item.active a{
    color: #4a4a4a;
  }

  .nav-link {
    padding: 0px;
    font-family: $nunito_bold;
  }
}

.rounded-10 {
  border-radius: 10px;
}

.back {
  font-size: 14px;
  width: 90%;
  margin: 0px auto;
  padding: 12px 0px;
}

.back a {
  margin-left: -15px;
  font-family: $nunito_bold;
}

.content .tab-content {
  margin-top: 0px;       
}

.nav-tabs {
  border-bottom: none;
}

.nav-item.active {
  background-color: #ffffff;
}

.left-content{
  background-color: transparent;
  height: 483px;
  .tab-content {
    margin-top: 0px;
  }
}

.absences-detail {
  &__title {
    font-family: $nunito_bold;
    color: #2d2d2d;
    font-size: 13px;
    text-align: left;
    margin: 30px 0px;
  }

  &__total-wrapper {
    display: flex;
    width: 100%;
    border-bottom: 1px solid #eeeeee;
    padding: 18px 0px 8px;
    align-items: center;
  }

  &__total-wrapper:last-child {
    border: none;
  }

  &__label {
    color: #6d6d6d;
    font-family: $nunito_regular;
    width: 50%;
    text-align: left;
  }

  &__filter-label {
    font-size: 10px;
    text-align: left;
    margin-bottom: 5px;
    font-family: $nunito_semi_bold;
    font-size: #6d6d6d;
    display: block;
  }

  &__amount {
    text-align: right;
    color: #1a9d7f;
    font-size: 18px;
    font-family: $nunito_bold;
    width: 50%;
  }

  &__input {
    width: 100%;
    height: 35px;
    border-radius: 3px;
    border-color: #cccccc;
  }

  &__form-group {
    margin-bottom: 20px;
    display: block;
  }

  &__angle-down{
    position: relative;
    right: 17px;
    top: 1px;
    color: #1a9d7f;
  }

  &__angle-down-date {
    position: relative;
    bottom: 23px;
    float: right;
    right: 10px;
    color: #1a9d7f;
  }
  
  &__select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    color: #7f92a1;
    font-size: 11px;
    font-family: $nunito_semi_bold;
    margin-right: 0px;

    &.form-control:not([size]):not([multiple]) {
      width: 204.5px;
      height: 35px;
    }
  }

  &__table {
    // margin-top: 20px;

    &.table tbody td {
      text-align: left;
      border-color: #cccccc;
    }

    tr:last-child{
      border-bottom: 1px solid #cccccc;
    }
  }

  .react-datepicker__input-container {
    display: block;
  }

  .react-datepicker-wrapper {
    display: block;
  }

  .form-group {
    display: block;
  }

  .form-inline label{
    display: block;
    margin-bottom: 5px;
  }

  &__form-date {
    margin-bottom: 20px;
  }
}

.homeroom-teacher {
  
  &__form {
    height: 300px;
    overflow-y: auto;
    margin-top: 30px;
  }

  &__input {
    margin-top: 30px;
    color: #52595e;
    font-family: $nunito_bold;
    padding: 15px 25px;
    height: 37px;
  }

  .form-control:focus {
    color: #52595e;
  }

  &__save {
    position: absolute;
    float: right;
    background-color: #199d7f;
    border-color: #199d7f;
    border-radius: 25px;
    padding-left: 3.25rem;
    padding-right: 3.25rem;
    margin-top: 100px;
    bottom: 40px;
    right: 30px;
  }

  &__save:hover {
    background-color: #199d7f;
    border-color: #199d7f;
    filter: brightness(90%);
  }

  ::placeholder {
    color: #b3b3b3;
  }
    
  :-ms-input-placeholder {
    color: #b3b3b3;
  }
  
  &__select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    color: #333333;
    font-size: 12px;
    font-family: $nunito_bold;
    margin-right: 0px;
    border-color: #dcdcdc;
    padding-left: 25px;
    padding-right: 25px;
    // margin-top: 30px;

  &__select:not(:first-child) {
    // margin-top: 20px
  }

    &.form-control:not([size]):not([multiple])  {
      height: 37px;;
    }
  }

  &__form-group:not(:first-child) &__select {
    margin-top: 20px;
  }

  &__angle-down {
    position: relative;
    font-size: 22px;
    color: #999999;
    width: 44.5px;
    height: 37px;
    background-color: rgba(234, 249, 242, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    bottom: 37px;
    margin-bottom: -20px;
  }

  &__add-extracurricular {
    color: #1a9d7f;
    font-family: $nunito_bold;
    margin-top: 20px;
    cursor: pointer;

    span {
        font-family: $nunito_semi_bold;
    }
  }
  
}

.bottom-contents {
  height: 625.5px;
}

.tab-position {
  margin-left: 4% !important;
}

.top-content{
  height: 41.34vh;
}

.title-content {
  padding-top:29px;
  padding-left: 29px;
  padding-bottom: 29px;
  
  span {
    margin-top:5%;
    font-family: $nunito_bold;
    font-size: 11px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #2d2d2d;
  }
}

.content-chart {
  // display: flex
}

.box-postition {
  padding-left: 5em;
  padding-top:1.8em;
  padding-bottom: 15px;
}

.card-detail {
  width: 169px;
  height: 110px;
  background-color: #ffffff;
  border-radius: 5px;
  border: 0.5px solid #cccccc; 
}

.bottom-content{
  margin-top:2%;
  margin-right: 1%;
  width: 100%;
  

}

.search-in-table {
  display: flex;
  width: 180px;

  .input-field, .icon {
    height: 35px;
  }
}

.table-position {
  margin-top:10%;
}

.table-nilai {
  background: #e3e8f9;
  border: 0.5 solid #e3e8f9;
}

.margin-table-nilai {
  margin: 2%;
}
.custom-table {
  border: 0.5 solid #e3e8f9;
  border-top: 0.5px solid #e3e8f9
}

.tbody-table-nilai {
  border: 0.5px solid #e3e8f9;
  margin-top:2%;
  border-collapse:separate; 
  border-spacing:1em;
  height: 0px;

  &__label {
      width: 105%;
      text-align: center;
      margin-top: 20px;
  }

  &__left-col{
    border-left: 10px solid #eb373e !important;
    width: 100px;

  }
}


.avatar {
  // margin-top:22px;
  display: block
}
.name {
  text-align: center;
  align-items: center;
  margin-left: 20px; 
  font-family: $nunito_semi_bold;
  position: relative;
  font-size: 11px;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.91;
  letter-spacing: normal;
  color: #333333;
  display: block;
  width: 90px;
  margin-top: 21px;
}

.label-nilai {
  font-family: $nunito_bold;
  font-size: 15.5px;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.65;
  letter-spacing: normal;
  color: #eb373e !important;
}
.col-sm-3 {
  width: 23%;
}

table {
  width: 100%;
  max-width: 100%;
  border-collapse: separate;
  border-spacing: 0 1em;
}


table.table.beri-nilai tr.head{
  background-color: #d8d8d8 !important;
  text-transform: uppercase;
  opacity: 0.9;
  color: #7f92a1;
}

table .beri-nilai td{
  vertical-align: middle;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.11;
  letter-spacing: normal;
  color: #333333;
}
table.table.beri-nilai .btn{
  padding: 3px 25px;
}
tbody tr:nth-child(odd) {
  background-color: #FFFFFF;
}

tbody tr:nth-child(even) {
  background-color: #FFFFFF;
}
.border-left-col-green {
  border-left:4px solid #1a9d7f !important;
}
.border-left-col-red {
  border-left:4px solid #eb373e !important;
}
.border-left-col-yellow {
  border-left:4px solid #f2bc2d !important;
}

.icon-table-pencil {
  margin-left: 20px;
}

.right-content-kkm {
  max-height: 100%
}

.kkm {
  min-height: 100%;

  &__title {
    height: 15px;
    font-family: $nunito_bold;
    font-size: 11px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #2d2d2d;
  }

  &_showall {
    font-family: $nunito_regular;
    font-size: 7.5px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.1px;
    text-align: right;
    color: #7f92a1;
    cursor: pointer;
  }

  &__name {
    width: 97px;
    height: 9.5px;
    font-family: $nunito_regular;
    font-size: 10px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #31394d;
  }

  &__email {
    width: 65.6px;
    height: 7px;
    font-family: $nunito_regular;
    font-size: 8px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #748aa1;
  }

  &__nilai {
    width: 20px;
    height: 10px;
    font-family: $nunito_bold;
    font-size: 18px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: right;
    color: #eb373e;
    margin:34px
  }
}
.color-green-score {
  color: #05a558 !important;
  font-family: $nunito_bold;
  font-size: 15.5px;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.65;
  letter-spacing: normal;
}

.color-red-score {
  color: #eb373e !important;
  font-family: $nunito_bold;
  font-size: 15.5px;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.65;
  letter-spacing: normal;
}

.color-yellow-score {
  color: #f2bc2d !important;
  font-family: $nunito_bold;
  font-size: 15.5px;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.65;
  letter-spacing: normal;
}

.main-height {
  min-height: 380px!important;
}