$nunito_light: "NunitoLight";
$nunito_regular: "NunitoRegular";
$nunito_semi_bold: "NunitoSemiBold";
$nunito_bold: "NunitoBold";

.details-nilai {
  background-color: #f7f7f7;
  min-height: 100%;

  a {
    color: #009d81;
  }

  a:hover {
    text-decoration: none;
  }

  .absences-detail__table.table {
    thead {
      background-color: #e8f7f7;

      th {
        text-align: left;
        border-color: #cccccc;
      }
    }
  }

  .col-2 {
    flex: 0 0 20%;
    max-width: 20%;
  }

  .col-10 {
    flex: 80%;
    max-width: 80%;
  }

  .offset-2 {
    margin-left: 20%;
  }

  table {
    margin-bottom: 0px;
  }

  .content {
    height: 100%;
  }

  .content-wrapper {
    position: relative;
    top: 127px;
    width: 90%;
    margin: 0px auto;
  }
}

.detail-menu {
  background-color: #f7f7f7;
  font-size: 14px;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  li {
    float: left;
    height: 45px;
    width: 135px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px 3px 0px 0px;
  }

  .nav-item.active a {
    color: #4a4a4a;
  }

  .nav-link {
    padding: 0px;
    font-family: $nunito_bold;
  }
}

.rounded-10 {
  border-radius: 10px;
}

.back {
  font-size: 14px;
  width: 96%;
  margin: 0px auto;
  padding: 17px 0px;
}

.back a {
  margin-left: -15px;
  font-family: $nunito_bold;
}

.content .tab-content {
  margin-top: 0px;
}

.nav-tabs {
  border-bottom: none;
}

.nav-item.active {
  background-color: #ffffff;
}

.left-content {
  background-color: transparent;
  height: 100%;
  .tab-content {
    margin-top: 0px;
  }
}

.absences-detail {
  &__title {
    font-family: $nunito_bold;
    color: #2d2d2d;
    font-size: 13px;
    text-align: left;
    margin: 30px 0px;
  }

  &__total-wrapper {
    display: flex;
    width: 100%;
    border-bottom: 1px solid #eeeeee;
    padding: 18px 0px 8px;
    align-items: center;
  }

  &__total-wrapper:last-child {
    border: none;
  }

  &__label {
    color: #6d6d6d;
    font-family: $nunito_regular;
    width: 50%;
    text-align: left;
  }

  &__filter-label {
    font-size: 10px;
    text-align: left;
    margin-bottom: 5px;
    font-family: $nunito_semi_bold;
    font-size: #6d6d6d;
    display: block;
  }

  &__amount {
    text-align: right;
    color: #1a9d7f;
    font-size: 18px;
    font-family: $nunito_bold;
    width: 50%;
  }

  &__input {
    width: 100%;
    height: 35px;
    border-radius: 3px;
    border-color: #cccccc;
  }

  &__form-group {
    margin-bottom: 20px;
    display: block;
  }

  &__angle-down {
    position: relative;
    right: 17px;
    top: 1px;
    color: #1a9d7f;
  }

  &__angle-down-date {
    position: relative;
    bottom: 23px;
    float: right;
    right: 10px;
    color: #1a9d7f;
  }

  &__select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    color: #7f92a1;
    font-size: 11px;
    font-family: $nunito_semi_bold;
    margin-right: 0px;

    &.form-control:not([size]):not([multiple]) {
      width: 204.5px;
      height: 35px;
    }
  }

  &__table {
    // margin-top: 20px;

    &.table tbody td {
      text-align: left;
      border-color: #cccccc;
    }

    tr:last-child {
      border-bottom: 1px solid #cccccc;
    }
  }

  .react-datepicker__input-container {
    display: block;
  }

  .react-datepicker-wrapper {
    display: block;
  }

  .form-group {
    display: block;
  }

  .form-inline label {
    display: block;
    margin-bottom: 5px;
  }

  &__form-date {
    margin-bottom: 20px;
  }
}

.homeroom-teacher {
  &__form {
    height: 300px;
    overflow-y: auto;
    margin-top: 30px;
  }

  &__input {
    margin-top: 30px;
    color: #52595e;
    font-family: $nunito_bold;
    padding: 15px 25px;
    height: 37px;
  }

  .form-control:focus {
    color: #52595e;
  }

  &__save {
    position: absolute;
    float: right;
    background-color: #199d7f;
    border-color: #199d7f;
    border-radius: 25px;
    padding-left: 3.25rem;
    padding-right: 3.25rem;
    margin-top: 100px;
    bottom: 40px;
    right: 30px;
  }

  &__save:hover {
    background-color: #199d7f;
    border-color: #199d7f;
    filter: brightness(90%);
  }

  ::placeholder {
    color: #b3b3b3;
  }

  :-ms-input-placeholder {
    color: #b3b3b3;
  }

  &__select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    color: #333333;
    font-size: 12px;
    font-family: $nunito_bold;
    margin-right: 0px;
    border-color: #dcdcdc;
    padding-left: 25px;
    padding-right: 25px;
    // margin-top: 30px;

    &__select:not(:first-child) {
      // margin-top: 20px
    }

    &.form-control:not([size]):not([multiple]) {
      height: 37px;
    }
  }

  &__form-group:not(:first-child) &__select {
    margin-top: 20px;
  }

  &__angle-down {
    position: relative;
    font-size: 22px;
    color: #999999;
    width: 44.5px;
    height: 37px;
    background-color: rgba(234, 249, 242, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    bottom: 37px;
    margin-bottom: -20px;
  }

  &__add-extracurricular {
    color: #1a9d7f;
    font-family: $nunito_bold;
    margin-top: 20px;
    cursor: pointer;

    span {
      font-family: $nunito_semi_bold;
    }
  }
}

.bottom-contents {
  height: 625.5px;
}
.bottom-content-evaluasi {
  height: 100%;
}

.tab-position {
  margin-left: 4% !important;
}

.top-content {
  height: 41.34vh;
}

.title-content {
  padding-top: 29px;
  padding-left: 29px;
  padding-bottom: 29px;

  span {
    margin-top: 5%;
    font-family: $nunito_bold;
    font-size: 11px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #2d2d2d;
  }
}
.title-content-evaluasi {
  span {
    font-family: $nunito_bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #2d2d2d;
  }
}

.box-postition {
  padding-left: 5em;
  padding-top: 1.8em;
  padding-bottom: 15px;
}

.card-detail {
  width: 169px;
  height: 110px;
  background-color: #ffffff;
  border-radius: 5px;
  border: 0.5px solid #cccccc;
}

.bottom-content {
  margin-top: 2%;
  margin-right: 1%;
  width: 100%;
}

.search-in-table {
  display: flex;
  width: 180px;

  .input-field,
  .icon {
    height: 35px;
  }
}

.table-position {
  margin-top: 10%;
}

.table-nilai {
  background: #e3e8f9;
  border: 0.5 solid #e3e8f9;
}

.margin-table-nilai {
  margin: 2%;
}
.custom-table {
  border: 0.5 solid #e3e8f9;
  border-top: 0.5px solid #e3e8f9;
}

.tbody-table-nilai {
  border: 0.5px solid #e3e8f9;
  margin-top: 2%;
  border-collapse: separate;
  border-spacing: 1em;
  height: 0px;

  &__label {
    width: 105%;
    text-align: center;
    margin-top: 20px;
  }

  &__left-col {
    border-left: 10px solid #eb373e !important;
    width: 100px;
  }
}
.tbody-table-nilai .left-col {
  border-left: 10px solid #eb373e !important;
}
.tbody-table-nilai .left-col-evaluasi-red {
  border-left: 3px solid #eb373e !important;
}

.avatar {
  // margin-top:22px;
  display: block;
}
.name {
  text-align: center;
  align-items: center;
  margin-left: 52px;
  font-family: $nunito_semi_bold;
  position: relative;
  font-size: 11px;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.91;
  letter-spacing: normal;
  color: #333333;
  display: block;
  width: 90px;
  margin-top: 21px;
}

.label-nilai {
  font-family: $nunito_bold;
  font-size: 15.5px;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.65;
  letter-spacing: normal;
  color: #eb373e !important;
}
.col-sm-3 {
  width: 23%;
}

table.table.beri-nilai tr.head {
  background-color: #d8d8d8 !important;
  text-transform: uppercase;
  opacity: 0.9;
  color: #7f92a1;
}

// large text bold
.large-text-green-bold {
  font-family: $nunito_bold;
  font-size: 16px;
  color: #259c7f !important;
}
.large-text-red-bold {
  font-family: $nunito_bold;
  font-size: 16px;
  color: #eb373e !important;
}
.large-text-yellow-bold {
  font-family: $nunito_bold;
  font-size: 16px;
  color: #f2bc2d !important;
}

// normal text bold
.normal-text-green-bold {
  font-family: $nunito_bold;
  font-size: 12px;
  color: #259c7f !important;
}
.normal-text-bold {
  font-family: $nunito_bold;
  font-size: 12px;
  color: #2d2d2d !important;
}
.normal-text-red-bold {
  font-family: $nunito_bold;
  font-size: 12px;
  color: #eb373e !important;
}
.border-left-col-green {
  border-left: 4px solid #1a9d7f !important;
}
.border-left-col-red {
  border-left: 4px solid #eb373e !important;
  z-index: 2000;
}
.border-left-col-yellow {
  border-left: 4px solid #f2bc2d !important;
}

.shadow-box {
  border-radius: 5px;
  -moz-box-shadow: 0 0 20px rgba(36, 36, 47, 0.1);
  -webkit-box-shadow: 0 0 20px rgba(36, 36, 47, 0.1);
  box-shadow: 0 0 20px rgba(36, 36, 47, 0.1);
}

.content-subject {
  overflow-y: scroll;
}

.content-competency {
  padding-bottom: 20px;
}

.details-nilai .main-block {
  min-height: 350px;
}

.color-yellow-score {
  color: #f2bc2d !important;
  font-family: $nunito_bold;
  font-size: 15.5px;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.65;
  letter-spacing: normal;
}

.main-height {
  min-height: 380px !important;
}

.col-height {
  height: 300px;
  vertical-align: top !important;
}

.right-content-score {
  margin: 0px;


  .skill-socre-td {
    margin-left:145px;
    display: inline-grid;

  }

  &__title {
    margin-top: 30px;
    // margin-left: 15px;
    margin-bottom: 30px;
    font-family: $nunito_bold;
    font-size: 15.5px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #2d2d2d;
  }

  &__table-head {
    background-color: #f3f3f6;
  }
  &__no {
    width: 10px;
  }
  .table thead th {
    height: 13.5px;
    font-family: $nunito_bold;
    font-size: 10px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.1px;
    color: #333333;
    border: transparent;
  }
  table tbody tr {
    box-shadow: 0 2px 8px 0 rgba(30, 30, 30, 0.05);
  }

  table tr.main-head {
    background-color: #f3fcff;
    text-transform: uppercase;
    color: #7f92a1;
  }
  table th,
  table td {
    border: none;
    padding: 10px;
  }
  table td {
    vertical-align: middle;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.11;
    letter-spacing: normal;
    color: #333333;
  }
  table .btn {
    padding: 3px 25px;
  }

  tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
  }
  tbody tr:nth-child(even) {
    background-color: #ffffff;
  }

  .select-list {
    height: 40px;
  }
  .select-list .select__control {
    min-height: auto;
    height: 40px;
    border: 1px solid #cccccc;
  }
  .select-list .select__indicator-separator {
    background-color: #fff;
  }
  .table-responsive {
    min-height: 400px;
  }
  table {
    border-collapse: none !important;
    max-width: 100%;
    border-spacing: 0em !important;
    border: 1px solid #f3f3f6;
    width: 100%;
  }
  .select__menu {
    z-index: 999999;
    position: absolute;
  }
  &__skor {
    width: 80px;
  }

  &__uraian {
    width: 400px;
    outline: none;
  }

  &__no {
    width: 3px;
  }

  /* content-block */
  .content-block-evaluasi {
    position: relative;
    padding: 2rem;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    border: 1px solid #e9e9ef;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0 0 20px rgba(36, 36, 47, 0.1);
    -webkit-box-shadow: 0 0 20px rgba(36, 36, 47, 0.1);
    box-shadow: 0 0 20px rgba(36, 36, 47, 0.1);
  }
  .content-block-evaluasi.main-block-evaluasi {
    border: none;
    box-shadow: -5px 5px 10px 0 rgba(30, 30, 30, 0.05);
    border-radius: 5px;
    padding: 0;
  }
  .main-height {
    min-height: 380px !important;
  }

  .col-height {
    height: 300px;
    vertical-align: top !important;
  }
}

.tr-row {
  width: 100%;
  display: contents !important;
}

.right-content-score {
  margin: 0px;

  &__title {
    margin-top: 30px;
    // margin-left: 15px;
    margin-bottom: 30px;
    font-family: $nunito_bold;
    font-size: 15.5px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #2d2d2d;
  }

  &__form &__table-head {
    background-color: #f3f3f6;
  }
  &__no {
    width: 10px;
  }
  .table thead th {
    height: 13.5px;
    font-family: $nunito_bold;
    font-size: 10px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.1px;
    color: #333333;
    border: transparent;
  }
  table tbody tr {
    box-shadow: 0 2px 8px 0 rgba(30, 30, 30, 0.05);
  }

  table tr.main-head {
    background-color: #f3fcff;
    text-transform: uppercase;
    color: #7f92a1;
  }
  table th,
  table td {
    border: none;
    padding: 10px;
  }
  table td {
    vertical-align: middle;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.11;
    letter-spacing: normal;
    color: #333333;
  }
  table .btn {
    padding: 3px 25px;
  }

  tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
  }
  tbody tr:nth-child(even) {
    background-color: #ffffff;
  }

  .select-list {
    height: 40px;
  }
  .select-list .select__control {
    min-height: auto;
    height: 40px;
    border: 1px solid #cccccc;
  }
  .select-list .select__indicator-separator {
    background-color: #fff;
  }
  .table-responsive {
    min-height: 400px;
  }
  table {
    border-collapse: none !important;
    max-width: 100%;
    border-spacing: 0em !important;
    border: 1px solid #f3f3f6;
    width: 100%;
  }
  .select__menu {
    z-index: 999999;
    position: absolute;
  }
  &__skor {
    width: 80px;
  }

  &__uraian {
    width: 400px;
    outline: none;
  }

  &__no {
    width: 3px;
  }
}

.tr-row {
  width: 100%;
  display: contents !important;
}

.td-hidden {
  display: none;
}

.content-bottom {
  .header {
    max-width: 100%;
    height: 29.5px;
    background-color: rgba(216, 216, 216, 0.14);
  }

  span {
    vertical-align: middle;
    font-family: $nunito_bold;
    font-size: 12px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #333333;
  }

  .content-student {
    max-height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
    .box-student {
      max-width: 100%;
      background-color: #ffffff;
    }

    .label-content {
      font-family: $nunito_semi_bold;
      font-size: 11px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: 0.91;
      letter-spacing: normal;
      color: #333333;
    }
    .icon-pencil {
      cursor: pointer;
    }
    .fa-ellipsis-h {
      color: #979797;
    }
    .dispay-second-row {
      display: none;
    }
    .line-separator {
      position: absolute;
      right: 80px;
      top: 67px;
      border-top: 1px solid #eaeaea;
      width: 143px;
    }

    .second-head {
      max-width: 100%;
      background-color: rgba(178, 216, 216, 0.32);
    }
    .display-none {
      display: none;
    }
    .display-block {
      display: block;
    }
  }
}

/* content-block */
.content-block-evaluasi {
  position: relative;
  padding: 2rem;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border: 1px solid #e9e9ef;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0 0 20px rgba(36, 36, 47, 0.1);
  -webkit-box-shadow: 0 0 20px rgba(36, 36, 47, 0.1);
  box-shadow: 0 0 20px rgba(36, 36, 47, 0.1);
}
.content-block-card {
  position: relative;
  padding: 2rem;
  width: 100%;
  height: auto;
  background-color: #ffffff;
  border: 1px solid #e9e9ef;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0 0 20px rgba(36, 36, 47, 0.1);
  -webkit-box-shadow: 0 0 20px rgba(36, 36, 47, 0.1);
  box-shadow: 0 0 20px rgba(36, 36, 47, 0.1);
}
.content-block-card.main-block-card {
  border: none;
  box-shadow: -5px 5px 10px 0 rgba(30, 30, 30, 0.05);
  border-radius: 5px;
  padding: 0;
}
.content-block-evaluasi.main-block-evaluasi {
  border: none;
  box-shadow: -5px 5px 10px 0 rgba(30, 30, 30, 0.05);
  border-radius: 5px;
  padding: 0;
}
.right-block-evaluasi {
  overflow-y: scroll;
}
.content-block-evaluasi,
.content-block-evaluasi.main-block-evaluasi .right-block-evaluasi {
  height: 100%;
}

.box-question {
  margin: auto;
  width: 70%;
  min-height: 20%;
  background-color: #ffffff;
  .form-question {
    width: 70%;
    margin: auto;
  }
}
.input-question {
  width: 100%;
  font-family: $nunito_regular;
}
.btn-save-question {
  background-color: #1a9d7f;
  color: #ffffff;
  font-family: $nunito_regular;
  width: 30%;
  text-align: center;
}

.content-block-card.main-block-card {
  border: none;
  box-shadow: -5px 5px 10px 0 rgba(30, 30, 30, 0.05);
  border-radius: 5px;
  padding: 0;
}
.remedial {
  margin: auto;
  .btn-white {
    position: absolute;
    bottom: 3%;
    margin-left: 10%;
    width: 70%;
  }
}
.search {
  display: flex;
  width: 100%;

  .input-field,
  .icon {
    height: 38px;
  }
}
.view {
  font-size: 9px;
  color: #7f92a1 !important;
}
.box-not-passed {
  max-height: 500px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.cgreen-light {
  font-family: $nunito_bold;
  color: #1a9d7f;
}
.label-green {
  font-family: $nunito_bold;
  font-size: 15.5px;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.65;
  letter-spacing: normal;
  color: #05a558 !important;
}

.label-yellow-score {
  font-family: $nunito_bold;
  font-size: 15.5px;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #f2bc2d !important ;
}

.title-kkm {
  font-family: $nunito_bold;
  font-size: 11px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #2d2d2d;
}

.show-all {
  font-family: $nunito_regular;
  font-size: 7.5px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.1px;
  text-align: right;
  color: #7f92a1;
}

.under-kkm {
  font-family: $nunito_regular;
  font-size: 10px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #31394d;
}

.email-under-kkm {
  font-family: $nunito_regular;
  font-size: 8px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #31394d;
}

.under-kkm-score {
  font-family: $nunito_bold;
  font-size: 15px;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: right;
  color: #eb373e;
  position: absolute;
  right: 0px;
}

.header-auth {
  font-family: $nunito_bold;
  font-size: 16px;
  color: #4a4a4a;
}

.verification {
  background-color: #fff;
  height: 100%;
  width: 100%;
  .header {
    opacity: 1;
    background-image: linear-gradient(to bottom, #51d2b4, #229c80);
    height: 50px;
  }
  .logo {
    width: 20px;
  }
  .body-gredu {
    margin-top: 100px;
  }
  .title {
    font-style: normal;
    font-stretch: normal;
    line-height: 1.53;
    letter-spacing: normal;
    text-align: center;
    color: #4a4a4a;
    font-size: 20px;
    font-weight: 600;
  }
  .info {
    font-style: normal;
    font-stretch: normal;
    line-height: 1.53;
    letter-spacing: normal;
    text-align: center;
    color: #cccccc;
  }
  .direct {
    font-style: normal;
    font-stretch: normal;
    line-height: 1.53;
    letter-spacing: normal;
    text-align: center;
    color: #4a4a4a;
    font-size: 16px;
    font-weight: 600;
  }
  .confirm {
    font-style: normal;
    font-stretch: normal;
    line-height: 1.53;
    letter-spacing: normal;
    text-align: center;
    font-size: 11px;
    color: #cccccc;
  }
  .trigger-account {
    position: absolute;
    left: 340px;
    top: 10px;
  }
  .email {
    font-size: 12px;
    border: 1px solid #dcdcdc;
    width: 50%;
    border-radius: 5px;
    background-color: whitesmoke;
  }
  .btn-young-green {
    height: 40px;
  }
  .btn-white {
    background: white;
    width: 100%;
    height: 40px;
    font-size: 12px;
    color: #51d2b4;
    font-family: "Nunito Sans", sans-serif;
    cursor: pointer;
    border-radius: 5px;
  }
  .btn-white:hover {
    filter: brightness(90%);
  }
  .contact {
    font-style: normal;
    font-stretch: normal;
    line-height: 1.53;
    letter-spacing: normal;
    text-align: center;
    font-size: 11px;
    color: #cccccc;
    bottom: 80px;
    position: absolute;
    left: 0;
    right: 0;
    color: #4a4a4a;
  }
  .copyright {
    font-size: 12px;
    text-align: center;
    bottom: 40px;
    position: absolute;
    left: 0;
    right: 0;
    color: #4a4a4a;
  }
  .input {
    border: none;
    border-bottom: solid 0.5px #cccccc;
    margin: auto;
    position: relative;
    width: 30%;
    margin-left: 35%;
  }
  .ava {
    margin: 0px auto;
    position: absolute;
    left: 47%;
  }
}
.desc {
  font-family: $nunito_regular;
  font-size: 12px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.54;
  letter-spacing: normal;
  color: #4a4a4a;
}
.auth {
  .react-datepicker-wrapper,
  .react-datepicker__input-container {
    display: block;
  }
}
.calendar-auth {
  position: relative;
  bottom: 25px;
  color: #4a4a4a;
}
.loader {
  margin: auto;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.mask {
  border: none;
  margin: auto;
  position: relative;
  width: 30%;
  margin-left: 35%;
  .password-mask-input {
    border: none;
    border-bottom: solid 0.5px #cccccc;
  }
  .fa-eye {
    font-size: 12px;
  }
  .password-mask-button {
    background: transparent !important;
  }
}
.right-height {
  height: 40%;
  overflow-x: scroll;
}
.content-block.main-block.right-height-kkm {
  height: 559px;
  overflow-x: scroll;
}