@import url("../../styles/global/component.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
.absensi {
  background: #f7f7f7;
  margin: auto;
  font-family: "Nunito Sans", sans-serif;
  overflow-y: hidden;
}
.content {
  background: #f7f7f7;
  height: 700px;
  margin-bottom: 20px;
  position: relative;
}
.left-content {
  padding-top: 20px;
  padding-bottom: 20px;
  background: white;
  height: 530px;
}
.left-content form label {
  color: #6d6d6d;
}
.center-content {
  padding-top: 20px;
  padding-bottom: 20px;
  background: white;
  overflow-y: hidden;
  height: 530px;
}
.right {
  background: #f7f7f7;
  padding-bottom: 20px;
  text-align: center;
  height: 530px;
}
.card {
  background: white;
  padding: 10px;
  margin: auto;
}
.card h3 {
  color: #199d7f;
}
.card p {
  color: #2d2d2d;
}

/* date range start */
.Range .DayPicker-Day--selected:not(.DayPicker-Day--start):not(.DayPicker-Day--end):not(.DayPicker-Day--outside) {
  background-color: #f0f8ff !important;
  color: #4a90e2;
}
.Range .DayPicker-Day {
  border-radius: 0 !important;
}
/* date range end */

/* Search bar start */
.input-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}
.icon {
  padding: 10px;
  color: #e0e4e8;
  min-width: 20px;
  border: solid 0.5px #e0e4e8;
  border-left: none;
  height: 30px;
}
.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
  border: solid 1px #e0e4e8;
  border-right: none;
  height: 30px;
  font-family: "Nunito Sans", sans-serif;
}
/* Search bar end */


.sticky {
  z-index: 1;
  overflow: hidden;
  width: 100%;
  position: fixed;
  display: block;
}

