@import url("../../styles/global/component.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

$nunito_light: 'NunitoLight';
$nunito_regular: 'NunitoRegular';
$nunito_semi_bold: 'NunitoSemiBold';
$nunito_bold: 'NunitoBold';

.absensi {
  background: #f7f7f7;
  margin: auto;
  font-family: "Nunito Sans", sans-serif;
  overflow-y: hidden;
  
  .left-content {
    padding-top: 20px;
    padding-bottom: 20px;
    background: white;
    height: 530px;
  }

  .col-lg-2 {
    flex: 0 0 19.666667%;
    max-width: 19.666667%;
  }

  .col-lg-10 {
    max-width: 80.333333%;
    flex: 80.333333%;
  }
}
.content {
  background: #f7f7f7;
  margin-bottom: 20px;
  position: relative;
}
.left-content form label {
  color: #6d6d6d;
}
.center-content {
  padding-top: 20px;
  padding-bottom: 20px;
  background: white;
  overflow-y: hidden;
  height: 530px;
}
.right {
  background: #f7f7f7;
  padding-bottom: 20px;
  text-align: center;
  height: 530px;
}
.card {
  background: white;
  padding: 10px;
  margin: auto;
  height: 32.6%;
  border-radius: 7px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  
  &__label {
    font-size: 14px;
    color: #2d2d2d;
    font-family: $nunito_bold;
  }

  &__value {
    color: #1a9d7f;
    font-size: 36px;
    margin: 20px;
    font-family: $nunito_bold;
  }
}

.card h3 {
  color: #199d7f;
}
.card p {
  color: #2d2d2d;
}

/* date range start */
.Range .DayPicker-Day--selected:not(.DayPicker-Day--start):not(.DayPicker-Day--end):not(.DayPicker-Day--outside) {
  background-color: #f0f8ff !important;
  color: #4a90e2;
}
.Range .DayPicker-Day {
  border-radius: 0 !important;
}
/* date range end */

/* Search bar start */
.input-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}
.icon {
  padding: 10px;
  color: #e0e4e8;
  min-width: 20px;
  border: solid 0.5px #e0e4e8;
  border-left: none;
  height: 30px;
}
.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
  border: solid 1px #e0e4e8;
  border-right: none;
  height: 30px;
  font-family: "Nunito Sans", sans-serif;
}
/* Search bar end */

.sticky {
  z-index: 1;
  overflow: hidden;
  width: 100%;
  position: fixed;
  display: block;
}

.date {
  font-family: 'NunitoBold';
  font-size: 14px;
  color: #2d2d2d;
}

.filter-absensi {
  .react-datepicker-wrapper, .react-datepicker__input-container {
    display: block;
  }

  input {
    border-radius: 3px;
    border-color: #cccccc;
  }
}

.calendar-icon {
  position: absolute;
  bottom: 14px;
  right: 10px;
  color: #1a9d7f;
}

.select__indicator-separator {
  display: none;
}

.select__control {
  height: 35px;
  border-radius: 3px !important;
  border-color: #cccccc !important;
}

.select__dropdown-indicator svg{
  color: #1a9d7f;
  width: 12px;
}

.absensi label {
  font-size: 10px;
  margin-bottom: 5px;
}

.select__placeholder {
  color: #7f92a1 !important;
}

.card-absensi {
  height: 100%;
}