@import url("../styles/global/component.css");
.absensi {
  background: #f7f7f7;
  margin-bottom: 20px;
  margin: auto;
  font-family: "Nunito Sans", sans-serif;
}
.content {
  height: 700px;
  /* background: #f7f7f7; */
}
.left-content {
  padding-top: 20px;
  padding-bottom: 20px;
  background: white;
  height: 400px;
}
.left-content form label {
  color: #6d6d6d;
}
.center-content {
  padding-top: 20px;
  padding-bottom: 20px;
  background: white;
  overflow-y: scroll;
  height: 400px;
}
.right-content {
  background: #f7f7f7;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  height: 400px;
}
.card {
  /* background: white; */
  padding: 10px;
  margin: auto;
  box-shadow: 5px 10px #199d7f;
}
.card h3 {
  color: #199d7f;
}
.car p {
  color: #2d2d2d;
}

/* date range start */
.Range .DayPicker-Day--selected:not(.DayPicker-Day--start):not(.DayPicker-Day--end):not(.DayPicker-Day--outside) {
  background-color: #f0f8ff !important;
  color: #4a90e2;
}
.Range .DayPicker-Day {
  border-radius: 0 !important;
}
/* date range end */