@media only screen and (min-width: 800px) {
  .verification {
    .ava {
      left: 45%;
    }
  }
}
@media only screen and (min-width: 1000px) {
  .verification {
    .ava {
      left: 46%;
    }
  }
}
@media only screen and (min-width: 1200px) {
  .verification {
    .ava {
      left: 47%;
    }
  }
}
