@import url("./global/component.css");
.nilai {
  background: #f7f7f7;
  margin-bottom: 20px;
  font-family: "Nunito Sans", sans-serif;
  overflow-y: hidden;
}

.content {
  margin-bottom: 20px;
}

.row-daftar-nilai {
  background-color: white;
}

.left-content {
  padding-top: 20px;
  padding-bottom: 20px;
  background: white;
  height: 530px;
}

.right-content {
  padding-top: 20px;
  padding-bottom: 20px;
  background: white;
  height: 530px;
}
.tab-content {
  height: 100%;
}
.tab-pane {
  height: 100%;
}
.not-available {
  height: 90%;
}