.padding-content {
  height: 95%;
  overflow-y: hidden;
}

.content {
  margin-bottom: 20px;
  height: 97%;
}

.row-daftar-nilai {
  height: 97%;
  background-color: white;
  border-radius: 2px;
  -moz-box-shadow: 0 0 20px rgba(36, 36, 47, 0.1);
  -webkit-box-shadow: 0 0 20px rgba(36, 36, 47, 0.1);
  box-shadow: 0 0 20px rgba(36, 36, 47, 0.1);
}

.left-content {
  height: 100%;
  width: 90%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.right-content {
  height: 100%;
  width: 90%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.tab-content {
  height: 100%;
}
.tab-pane {
  height: 100%;
}
.not-available {
  height: 90%;
}

.cursor {
  cursor: crosshair;
  background-color: #4b635d;
}

.cursor:hover {
  cursor: default;
  background-color: #4b635d;
}