@font-face {
  font-family: 'NunitoLight';
  src: url('../assets/fonts/Nunito-Light.ttf');
  font-weight: normal;
  font-style: normal;
}           

@font-face {
  font-family: 'NunitoRegular';
  src: url('../assets/fonts/Nunito-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NunitoSemiBold';
  src: url('../assets/fonts/Nunito-SemiBold.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NunitoBold';
  src: url('../assets/fonts/Nunito-Bold.ttf');
  font-weight: normal;
  font-style: normal;
}
