@import url("../styles/global/component.css");
.login {
  margin: auto;
  width: 80%;
}
.box {
  position: relative;
  margin-top: 5%;
}
.box .left-content {
  background-image: linear-gradient(to bottom, #51d2b4, #229c80);
  color: white;
  font-family: NunitoSans;
  margin-top: 10%;
  border-radius: 5px;
}
.box .left-content .main-left {
  margin-top: 30%;
  margin-left: 10%;
}
.box .right-content {
  margin-top: 10%;
  box-shadow: 0 3px 8px 6px rgba(76, 76, 76, 0.1);
  border-radius: 5px;
}
.main-right {
  margin-top: 10%;
  text-align: left;
  padding-left: 10%;
}
.main-right h5 {
  color: #4a4a4a;
}
.main-right input {
  border: none;
  border-bottom: solid 1px #c4c4c4;
}
.main-right input[type=text]:focus {
  border-bottom: solid 1px #c4c4c4;
}
.main-right p{
  text-align: right;
}
.main-right a{
  /* color: #51d2b4; */
}
.main-right a:hover {
  text-decoration: none;
  filter: brightness(99%);
}
.copyright {
  font-family: NunitoSans;
  font-size: 10px;
  text-align: center;
  bottom: 0;
  position: absolute;
}