$nunito_light: "NunitoLight";
$nunito_regular: "NunitoRegular";
$nunito_semi_bold: "NunitoSemiBold";
$nunito_bold: "NunitoBold";

.new-exam-online {
  .full-margin {
    height: 100%;
    bottom: 0px;
  }

  .content-wrapper {
    position: relative;
    box-shadow: -5px 5px 10px 0 rgba(30, 30, 30, 0.05);
    border-radius: 10px;
    background-color: #ffffff;
    width: 56%;
    height: 100%;
    min-height: 530px;
    margin: 0px auto;
    // padding: 38.5px 120px 27.5px 85px;
  }

  .title-page {
    width: 10%;
    font-family: $nunito_semi_bold;
    font-size: 14px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #1a9d7f;
  }

  .subject-head {
    width: 20%;
    font-family: $nunito_bold;
    font-size: 14px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #1a9d7f;
  }

  .form-position {
    padding: 0px 50px;
  }

  label {
    font-family: $nunito_semi_bold;
    font-size: 12px;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.79;
    letter-spacing: -0.2px;
    color: #6d6d6d;
    margin-right: 3%;
  }

  textarea {
    height: 100px;
    resize: none;
  }
}

.online-exam {
  min-height: 100%;
  padding-top: 121px;
  margin: 0 auto !important;
  background-color: #ffffff;
  .content-block.main-block {
    border-top: solid 0.5px #d3d9dd;
    box-shadow: none;
    min-height: 100%;
    border-radius: 0px;
    .margin-box {
      min-height: 100%;
      margin: 0 60px 0 30px;
      .left-block {
        height: 100%;
        position: fixed;
        min-height: 100%;
      }
      .right-block {
        margin-left: 22%;
        height: 100%;
        .header-content {
          border-bottom: solid 0.5px #d3d9dd;
        }
        .info {
          font-family: $nunito_regular;
          color: #a1a1a1;
          font-size: 10px;
        }
        .info-danger {
          font-family: $nunito_regular;
          color: #ff7f8f;
          font-size: 10px;
        }
        .p {
          font-family: $nunito_regular;
          color: #4a4a4a;
          font-size: 10px;
          padding-top: 3px;
        }
        .p-bold {
          font-family: $nunito_bold;
          color: #4a4a4a;
          font-size: 10px;
        }
        .p-green {
          font-family: $nunito_regular;
          color: #1a9d7f;
          font-size: 10px;
        }
        .p-green-link {
          font-family: $nunito_bold;
          color: #1a9d7f;
          font-size: 10px;
          cursor: pointer;
        }
        .icon-green {
          color: #1a9d7f;
          font-size: 12px;
          text-decoration: underline;
        }
        &__panel-wrapper {
          .not-available {
            height: 400px;
          }
        }
        &__panel {
          background-color: #ffffff;
          box-shadow: 0 2px 8px 0 rgba(30, 30, 30, 0.05);
          margin-bottom: 30px;
          padding: 10px 10px;
          border: 1px solid rgba(204, 204, 204, 0.5);
          min-height: 120px;
        }
        &__panel-part {
          border-right: solid 0.5px #e8e8e8;
          .progress {
            height: 7px;
            .progress-bar {
              background-color: #1a9d7f;
            }
          }
        }
        &__basic-info-wrapper {
          font-size: 10px;
          color: #1a9d7f;
        }
        &__basic-info {
          display: inline;
          font-family: $nunito_regular;
          color: #a1a1a1;
          cursor: pointer;
        }
        &__basic-info {
          padding: 1px 5px;
          border-right: 1px solid #ededed;
          &:first-child {
            padding-left: 0px;
            padding-right: 5px;
          }

          &:last-child {
            padding-left: 5px;
            padding-right: 0px;
            border-right: none;
          }

          &:hover {
            color: #1a9d7f;
          }
        }
        &__action-wrapper {
          position: relative;
          bottom: 0px;
          font-size: 10px;
          color: #1a9d7f;
        }
        &__action {
          display: inline;
          font-family: $nunito_bold;
          color: #1a9d7f;
          cursor: pointer;
        }
        &__action {
          padding: 1px 5px;
          border-right: 1px solid #ededed;
          &:first-child {
            padding-left: 0px;
            padding-right: 5px;
          }

          &:last-child {
            padding-left: 5px;
            padding-right: 0px;
            border-right: none;
          }
          &:hover {
            color: #1a9d7f;
          }
        }
        .s-line {
          border-right: solid 1px #d3d9dd;
        }
      }
    }
  }
}

.bank {
  .wrapper-content {
    height: 100%;
    .btn-green {
      border-radius: 5px;
    }
    .header {
      display: block;
      margin-left: 5%;
      width: 90px;
      .font-green {
        font-family: $nunito_regular;
        color: #1a9d7f;
        font-size: 14px;
      }
      .header-title {
        padding-left: 5%;
        display: flex;
        justify-content: center;
        width: 90%;
      }
      .border-green {
        height: 2px;
        background-color: #1a9d7f;
        margin: 0 auto !important;
        width: 60%;
      }
    }
    .select-bank {
      border-bottom: solid 0.5px #d3d9dd;
    }
    .content-bank {
      height: 68%;
      overflow-y: scroll;
      overflow-x: hidden;
      border-bottom: solid 1px #d3d9dd;
      .wrapper {
        border: solid 0.5px #d9d9d9;
        border-radius: 3px;
        margin-bottom: 10px;
        width: 90%;
        .kd {
          text-align: justify;
        }
        .question {
          text-align: justify;
        }
      }
    }
  }
}

.online-question {
  &.content-wrapper {
    padding-top: 140px;
    width: 910px;
    margin: auto;
    overflow-y: hidden;
    // min-height: 97%;
    margin-bottom: 20px;
  }

  &__left-wrapper {
    background: #ffffff;
    width: 230px;
    max-height: 100%;
    overflow-y: auto;
    padding: 21px 14px;
    float: left;
    margin-right: 18px;
  }

  &__right-wrapper {
    background: #ffffff;
    width: 662px;
    max-height: 100%;
    // overflow-y: auto;
    padding: 21px 14px;
    float: right;
    // overflow-y: hidden;
  }

  &__subject-wrapper {
    position: relative;
  }

  &__subject {
    font-family: $nunito_semi_bold;
    color: #1a9d7f;
    font-size: 16px;
    text-align: center;
    padding-bottom: 18px;
    border-bottom: 1px solid #eaeaea;
  }

  &__line {
    height: 3px;
    background-color: #1a9d7f;
    width: 46px;
    margin: auto;
    position: absolute;
    bottom: -1px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 3px;
  }

  &__number-wrapper {
    margin-top: 32px;
  }

  &__type {
    font-size: 16px;
    color: #666666;
    font-family: $nunito_semi_bold;
    margin-left: 14px;
  }

  &__number-content {
    margin: 24px 0px 32px;
    position: relative;
    left: 6px;
  }

  &__number {
    width: 32px;
    height: 32px;
    border: 1px solid #d8d8d8;
    border-radius: 4px;
    font-size: 14px;
    font-family: $nunito_regular;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3px;
    cursor: pointer;

    &--created {
      background-color: #e7ffc1;
      border-color: #e7ffc1;
    }
  }

  &__top-content {
    border-bottom: 1px solid #d3d9dd;
    padding-bottom: 30px;
    // overflow: hidden;
  }

  &__form-group {
    margin-bottom: 24px;
  }

  &__input {
    display: block;
    border: 1px solid #d3d9dd;
    height: 32px;
    border-radius: 5px;
  }

  &__score {
    width: 46px;
    text-align: center;
  }

  &__label {
    margin-bottom: 16px;
  }

  .select {
    &__control {
      width: 320px;
      min-height: 32px;
      height: 32px;
      border-color: #d3d9dd !important;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 5px !important;
    }

    &__indicators {
      height: 32px;
    }
  }

  &__navigation {
    float: right;
    color: #1a9d7f;
    display: table;
  }

  &__arrow-icon {
    width: 32px;
    height: 32px;
    display: table-cell;
    border-radius: 8px;
    border: 1px solid #ebebeb;
    vertical-align: middle;
    text-align: center;

    &:first-child {
      position: relative;
      right: 8px;
    }
  }

  &__question-wrapper {
    padding-top: 28px;
    max-height: 400px;
    overflow-y: auto;
  }

  &__current-question {
    font-family: $nunito_semi_bold;
  }

  &__import-question {
    font-family: $nunito_semi_bold;
    font-size: 12px;
    color: #1a9d7f;
    display: flex;
    align-items: center;
    justify-content: space-between;
    float: right;
    cursor: pointer;
  }

  &__add-icon {
    font-family: $nunito_bold;
    font-size: 16px;
    color: #1a9d7f;
    margin-right: 7px;
  }

  &__upload-image {
    color: #1a9d7f;
    font-size: 12px;
    font-family: $nunito_semi_bold;
    margin-top: 16px;
  }

  .fa-upload {
    margin-right: 5px;
  }

  &__write-question {
    margin-top: 16px;
    width: 555px;
    height: 100px;
    border: 1px solid #ebebeb;
    border-radius: 4px;
  }

  &__answer-wrapper {
    padding-top: 36px;
    position: relative;
  }

  &__answer-label {
    position: absolute;
    right: 82px;
    display: block;
    width: auto;
    top: 14px;
    color: #1a9d7f;
  }

  &__choice {
    margin-bottom: 14px;
    position: relative;
    display: flex;
    align-items: center;
  }

  &__symbol {
    margin-right: 16px;
    vertical-align: middle;
    font-family: $nunito_semi_bold;
    color: #333333;
  }

  &__answer {
    width: 480px;
    margin-right: 16px;
    vertical-align: middle;
    border-radius: 4px;
    color: #000000;
  }

  &__radio {
    vertical-align: middle;
    margin-right: 10px;
  }

  &__add-choice {
    font-family: $nunito_semi_bold;
    font-size: 12px;
    color: #1a9d7f;
    display: flex;
    align-items: center;
    justify-content: space-between;
    float: left;
    cursor: pointer;
  }

  &__submit {
    width: 140px;
    margin: auto;
    display: block;

    &-wrapper {
      border-top: 1px solid #e5e5e5;
      margin-top: 32px;
      padding-top: 22px;
    }
  }

  ::placeholder {
    font-family: $nunito_regular;
    color: #a1a1a1;
  }

  .delete {
    height: 40px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }

    &:before, &:after {
      position: absolute;
      content: ' ';
      height: 14px;
      width: 2px;
      background-color: #1a9d7f;
    }

    &:before {
      transform: rotate(45deg);
    }

    &:after {
      transform: rotate(-45deg);
    }
  }

  &__delete-wrapper {
    display: inline;
  }
}
