@import url("./global/component.css");
.penilaian {
  background: #f7f7f7;
  margin-bottom: 20px;
  font-family: "Nunito Sans", sans-serif;
  overflow-y: hidden;
}
.left-content {
  padding-top: 20px;
  padding-bottom: 20px;
  background: white;
  height: 530px;
  border-right: solid 0.5px #eeeeee;
}
.tab-penilaian {
  border: solid 1px #cccccc;
  background: #f2f2f2;
  color: #999999;
  font-weight: normal;
  cursor: pointer;
}
.nav-tabs .tab-penilaian .nav-link {
  border: none;
}
.tab-penilaian:active {
  background: white;
  color: #333333;
}

.tab-assessment > div:not(:last-child){
  margin-right: 80px;
}
.tab-assessment .line-separator{
  position: absolute;
  right: 56px;
  top: 89px;
  border-top: 1px solid #eaeaea;
  width: 143px;
}

.table.assessment span.fa-edit {
  padding-top: 3px;
}

.action-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}