$nunito_light: "NunitoLight";
$nunito_regular: "NunitoRegular";
$nunito_semi_bold: "NunitoSemiBold";
$nunito_bold: "NunitoBold";

.basic {

  .line {
    min-height: 671px !important;
  }

  .button-upload {
    display: none
  }
  .label-upload {
    width: 150px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.05);
    background-color: #199d7f;
    border-radius: 5px;
    
  }
  .label-text{
    font-family: $nunito_bold;
    font-size: 9px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    text-align: center;
    color: #ffffff;
  }
  .notice {
    font-family: $nunito_semi_bold;
    font-size: 9.5px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #7f92a1;
  }
  .hapus-foto {
    width: 82px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.05);
    background-color: #aaaaaa;
    border-radius: 5px;
  }

  .remove-profile {
    width: 88px;
    i {
      float: right;
      padding: 5px;
      color: black;
      border-radius: 50%;
      background: #A3A6A9;
      opacity: 0.5;
      margin-bottom: 10px;
    }
    i:hover {
      color: #199d7f;
    }
  }

  .profile-photo {
    border-radius: 50%;
    width: 88px;
    height: 87px;
  }

  label {
    font-family: $nunito_semi_bold;
    font-size: 10px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #51647a;
  }

  .form-position {
    margin-right: 50px;
  }
  .icon-calender {
    position: relative;
    bottom: 25px;
    color: #1a9d7f;
    margin-right: 20px;
  }
  .label-profile {
    font-family: $nunito_bold;
    font-size: 14.5px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
  }

  .label-menu {
    font-family: $nunito_semi_bold;
    font-size: 13px;
    font-weight: 600;
    // min-width: 200px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #7f92a1;
  }

  .label-menu-active {
    font-family: $nunito_semi_bold;
    font-size: 13px;
    font-weight: 600;
    font-style: normal;
    vertical-align: middle;
    color: #199d7f;
    border-right: 2px solid #199d7f;
  }
}

.password {
  .title {
    font-family: $nunito_bold;
    font-size: 11px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #2d2d2d;
  }
  .label-profile {
    font-family: $nunito_bold;
    font-size: 14.5px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
  }

  .label-menu {
    font-family: $nunito_semi_bold;
    font-size: 13px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #7f92a1;
  }

  .label-menu-active {
    font-family: $nunito_semi_bold;
    font-size: 13px;
    font-weight: 600;
    font-style: normal;
    vertical-align: middle;
    color: #199d7f;
    border-right: 2px solid #199d7f;
  }

  .form-outine {
      outline: none !important;
      border-top-left-radius: 0.25em;
      border-bottom-left-radius: 0.25em;
  }

  .icon {
    border-radius: 0.25em;
  }
}

.teacher {
  .fit-screen {
      height: 100% !important;
      min-height: 520px !important;
      border-radius: 5px;
      padding: 10px;
      border-right: 1px solid #f7f7f7;

    }
  
    .table-content-list {
      margin-top: 20px;
      width: 95%;
      border-color: 0.5px solid #cccccc;

  }
  

  .label-menu {
    font-family: $nunito_semi_bold;
    font-size: 13px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #7f92a1;
  }

  .label-menu-active {
    font-family: $nunito_semi_bold;
    font-size: 13px;
    font-weight: 600;
    font-style: normal;
    vertical-align: middle;
    color: #199d7f;
    border-right: 2px solid #199d7f;
  }

  thead {
      background-color: #ecf2f8;
      font-family: $nunito_light;
      color: #000000;
  }

  tr {
      font-family: $nunito_light;
  }

  .table-striped tbody tr:nth-of-type(odd) {
      background-color: #F9F9F9;
  }

  .table thead th {
      padding: 8px 10px;
      vertical-align: middle;
      border-color: #cccccc;
      // border-bottom: none;
      text-align: center;
      font-family: $nunito_light;
  }

  .table td {
      vertical-align: middle;
      border-color: #cccccc;
      border-top: none;
      border-bottom: none;
      padding: 12px 10px;
      color: #333333;
      text-align: center;
      font-family: $nunito_semi_bold;

      &:last-child {
      border-color: #cccccc;
      // border-color: 
      }
  }

  .table td a{
      font-family: $nunito_bold;
  }

  tr:last-child {
      border-bottom: 1px solid #cccccc;

  }

  td:first-child {
      width: 23.5%;
  }

  .border-hidden {
      width: 4px;
      height: 1px;
      background-color: white;
      position: relative;
      float: right;
      bottom: 1px;
  }
  


.total-score, .average-score {
  background-color: #f5faf2 !important;
  border: 1px solid #b0d8d8;

  td:first-child {
      width: 52%;
      text-align: center;
  }

  td {
      padding: 6px 10px !important;
  }
}

.status {
  display: flex;
  text-align: left;
  align-items: center;
}

.indicator {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  margin-right: 5px;
}

.red-indicator {
  background-color: #ff6d4a;
}

.blue-indicator {
  background-color: #4da1ff;
}

    .title {
        font-family: $nunito_bold;
        font-size: 14px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #2d2d2d;
      }
      .label-profile {
        font-family: $nunito_bold;
        font-size: 14.5px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #000000;
      }
    
      .label-menu {
        font-family: $nunito_semi_bold;
        font-size: 13px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #7f92a1;
      }
    
      .label-menu-active {
        font-family: $nunito_semi_bold;
        font-size: 13px;
        font-weight: 600;
        font-style: normal;
        vertical-align: middle;
        color: #199d7f;
        border-right: 2px solid #199d7f;
      }

      .school-name {
        font-family: $nunito_bold;
        font-size: 14px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #333333;
      }

      &__list-table {
        min-width: 80% !important;
        margin-top: 30px;
       
      }
    
  }

