$nunito_light: "NunitoLight";
$nunito_regular: "NunitoRegular";
$nunito_semi_bold: "NunitoSemiBold";
$nunito_bold: "NunitoBold";

.basic {
  .fit-screen {
    min-height: 590px !important;
  }

  .label-profile {
    font-family: $nunito_bold;
    font-size: 14.5px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
  }

  .label-menu {
    font-family: $nunito_semi_bold;
    font-size: 13px;
    font-weight: 600;
    min-width: 165px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #7f92a1;
  }

  .label-menu-active {
    font-family: $nunito_semi_bold;
    font-size: 13px;
    font-weight: 600;
    font-style: normal;
    vertical-align: middle;
    color: #199d7f;
    border-right: 2px solid #199d7f;
  }
}

.password {
  .title {
    font-family: $nunito_bold;
    font-size: 11px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #2d2d2d;
  }
  .label-profile {
    font-family: $nunito_bold;
    font-size: 14.5px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
  }

  .label-menu {
    font-family: $nunito_semi_bold;
    font-size: 13px;
    font-weight: 600;
    min-width: 165px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #7f92a1;
  }

  .label-menu-active {
    font-family: $nunito_semi_bold;
    font-size: 13px;
    font-weight: 600;
    font-style: normal;
    vertical-align: middle;
    color: #199d7f;
    border-right: 2px solid #199d7f;
  }

  .form-outine {
      outline: none !important;
      border-top-left-radius: 0.25em;
      border-bottom-left-radius: 0.25em;
  }

  .icon {
    border-radius: 0.25em;
  }
}

  .teacher {
    .title {
        font-family: $nunito_bold;
        font-size: 11px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #2d2d2d;
      }
      .label-profile {
        font-family: $nunito_bold;
        font-size: 14.5px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #000000;
      }
    
      .label-menu {
        font-family: $nunito_semi_bold;
        font-size: 13px;
        font-weight: 600;
        min-width: 165px;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #7f92a1;
      }
    
      .label-menu-active {
        font-family: $nunito_semi_bold;
        font-size: 13px;
        font-weight: 600;
        font-style: normal;
        vertical-align: middle;
        color: #199d7f;
        border-right: 2px solid #199d7f;
      }

      .school-name {
        font-family: NunitoSans;
        font-size: 14px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #333333;
      }

      &__list-table {
        min-width: 95% !important;
        margin-top: 30px;
       
      }
    
  }

