
.content {
  margin-bottom: 20px;
}

.row-rapor {
  height: 100%;
  background-color: white;
}

.left-content {
  width: 90%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.right-content {
  width: 90%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.arrow img {
  width: 10px;
  height: 20px;
}