$nunito_light: "NunitoLight";
$nunito_regular: "NunitoRegular";
$nunito_semi_bold: "NunitoSemiBold";
$nunito_bold: "NunitoBold";

.row-score {
  .right-block {
    .tab-content-score {
      max-height: 65vh;
      overflow-y: scroll;
      .tab-pane {
        height: 100%;
        .not-available {
          height: 65vh;
        }
        tbody tr:nth-of-type(even) {
          background-color: #ffffff;
        }
        tbody tr:nth-of-type(odd) {
          background-color: #f9f9f9;
        }
        .student-name {
          font-family: $nunito_bold;
          color: #2099e8;
          cursor: pointer;
        }
        .arrow img {
          width: 10px;
          height: 20px;
          vertical-align: middle;
        }
      }
    }
  }
}

@media only screen and (min-width:768px) and (max-width:992px) {
  .row-score {
    .right-block {
      .tab-span {
        .tab-nilai {
          width: 110px;
        }
      }
    }
  }
}